// Browser support
@w3c    : true;
@webkit : true;
@moz    : true;
@opera  : false;
@ie     : true; // 10+ and old version
    @ie9    : true;
    @ie8    : true;
    @ie7    : false;

// PIE
@activate-pie                           : false;

// Responsive (MediaQueries)
@responsive                    : false;

//Toaster icons
@toaster-icons                 : true;

// Alternate Style (color, size, type) FOR=> Buttons, Alert, Progressbar, Range, Form input, Link, Table
@alternate-style               : true;

    // Alternate Style => GLOBAL COLOR
    @colors         : true;
        @color-red    : true;
        @color-blue   : true;
        @color-green  : true;
        @color-orange : true;
        @color-gray   : true;

// Alternate Style => Field form
@form-labeled  : true;
    @form-labeled-icon   : true;
    @form-labeled-social : true;

// Alternate Style => FIELD SIZE
@field-sizes  : true;
    @field-size-larger : true;
    @field-size-large  : true;
    @field-size-small  : true;

// Alternate Style => BUTTON TYPE
@button-types   : true; // .link, .btn-set, .icon, alternate styles(3d button, )
    @button-type-icon  : true;
    @button-type-link  : true;
    @button-type-block : true;
    @button-type-group : true;
    @button-type-3d    : false;

// Alternate Style => BUTTON COLOR
@button-colors         : true;
    @button-color-red    : true;
    @button-color-blue   : true;
    @button-color-green  : true;
    @button-color-orange : true;

    @button-color-red-inverse     : true;
    @button-color-blue-inverse    : true;
    @button-color-green-inverse   : true;
    @button-color-orange-inverse  : true;
    @button-color-primary-inverse : true;

// Alternate Style => BUTTON SIZE
@button-sizes  : true;
    @button-size-larger : true;
    @button-size-large  : true;
    @button-size-small  : true;

// Alternate Style => IMAGES
@images-style        : false; // .img-thumbnail, .img-circle, .img-rounded

// Alternate Style => TABLES
@tables-style        : true; // .table-bordered, .table-striped, .table-hover
    @tables-bordered : @tables-style; // .table-bordered
    @tables-striped  : @tables-style; // .table-striped
    @tables-hover    : @tables-style; // .table-hover

// Style for Button
@button-transition             : true;
@button-box-shadow             : true;

// Style for Checkbox and Radio
@checkbox-radio-style          : true;
    @switcher-style            : true;

// Connection / Disconnection system-classes.less
@system-classes                : true;

// Connection / Disconnection modules.less OR each individually
@modules                       : true;

@module-carousel               : false;
@module-alert                  : true;
@module-accordion              : true;
@module-tabs                   : true;
@module-dialog                 : true;
@module-datepicker             : true;
@module-autocomplete           : true;
@module-tooltips               : true;
    @module-tooltips-color-red    : true;
    @module-tooltips-color-blue   : true;
    @module-tooltips-color-green  : true;
    @module-tooltips-color-orange : true;
@module-range                  : false;
@module-progressbar            : true;
@module-chosen                 : false;
@module-pagination             : true;
@module-scrollbar              : false;

// Connection / Disconnection TOASTER WIDGETS OR each individually
@widget-form                   : true; // hide/show all styles for form components
@widget-search                 : false; // Search form and Saerch results

// Activate alternative classes for list
@lists-classes                 : true;
    @list-unstyled                 : true;
    @list-inline                   : true;
    @list-bordered                 : true;
    @list-tags                     : true;
    @list-arrow                    : true;
    @list-images                   : true;
    @list-count-sign               : false;
    @list-icon-sign                : false;
    @list-testimonials             : false; // styles are in system-classes.less, check that was included
    @list-social-links             : false; // styles are in system-classes.less, check that was included

@social-fields            : false; // styles are in system-classes.less, check that was included

// Animate CSS3. DEMO => https://daneden.me/animate/
@animation                       : false;

@animate-rotate                : true;
@animate-flash                 : true;
@animate-shake                 : true;
@animate-bounce                : true;
@animate-tada                  : true;
@animate-swing                 : true;
@animate-wobble                : true;
@animate-wiggle                : true;
@animate-pulse                 : true;
@animate-flip                  : true;
@animate-flipInX               : true;
@animate-flipOutX              : true;
@animate-flipInY               : true;
@animate-flipOutY              : true;
@animate-fadeIn                : true;
@animate-fadeInUp              : true;
@animate-fadeInDown            : true;
@animate-fadeInLeft            : true;
@animate-fadeInRight           : true;
@animate-fadeInUpBig           : true;
@animate-fadeInDownBig         : true;
@animate-fadeInLeftBig         : true;
@animate-fadeInRightBig        : true;
@animate-fadeOut               : true;
@animate-fadeOutUp             : true;
@animate-fadeOutDown           : true;
@animate-fadeOutLeft           : true;
@animate-fadeOutRight          : true;
@animate-fadeOutUpBig          : true;
@animate-fadeOutDownBig        : true;
@animate-fadeOutLeftBig        : true;
@animate-fadeOutRightBig       : true;
@animate-bounceIn              : true;
@animate-bounceInUp            : true;
@animate-bounceInDown          : true;
@animate-bounceInLeft          : true;
@animate-bounceInRight         : true;
@animate-bounceOut             : true;
@animate-bounceOutUp           : true;
@animate-bounceOutDown         : true;
@animate-bounceOutLeft         : true;
@animate-bounceOutRight        : true;
@animate-rotateIn              : true;
@animate-rotateInUpLeft        : true;
@animate-rotateInDownLeft      : true;
@animate-rotateInUpRight       : true;
@animate-rotateInDownRight     : true;
@animate-rotateOut             : true;
@animate-rotateOutUpLeft       : true;
@animate-rotateOutDownLeft     : true;
@animate-rotateOutUpRight      : true;
@animate-rotateOutDownRight    : true;
@animate-lightSpeedIn          : true;
@animate-lightSpeedOut         : true;
@animate-hinge                 : true;
@animate-rollIn                : true;
@animate-rollOut               : true;
@animate-magic                 : true;
@animate-twisterInDown         : true;
@animate-twisterInUp           : true;
@animate-swap                  : true;
@animate-puffIn                : true;
@animate-puffOut               : true;
@animate-vanishIn              : true;
@animate-vanishOut             : true;
@animate-openDownLeft          : true;
@animate-openDownRight         : true;
@animate-openUpLeft            : true;
@animate-openUpRight           : true;
@animate-openDownLeftReturn    : true;
@animate-openDownRightReturn   : true;
@animate-openUpLeftReturn      : true;
@animate-openUpRightReturn     : true;
@animate-perspectiveDown       : true;
@animate-perspectiveUp         : true;
@animate-perspectiveLeft       : true;
@animate-perspectiveRight      : true;
@animate-perspectiveDownReturn : true;
@animate-perspectiveUpReturn   : true;
@animate-perspectiveLeftReturn : true;
@animate-perspectiveRightReturn: true;
@animate-openDownLeftOut       : true;
@animate-openDownRightOut      : true;
@animate-openUpLeftOut         : true;
@animate-openUpRightOut        : true;
@animate-rotateDown            : true;
@animate-rotateUp              : true;
@animate-rotateLeft            : true;
@animate-rotateRight           : true;
@animate-slideDown             : true;
@animate-slideUp               : true;
@animate-slideLeft             : true;
@animate-slideRight            : true;
@animate-slideDownReturn       : true;
@animate-slideUpReturn         : true;
@animate-slideLeftReturn       : true;
@animate-slideRightReturn      : true;
@animate-swashOut              : true;
@animate-swashIn               : true;
@animate-foolishOut            : true;
@animate-foolishIn             : true;
@animate-holeOut               : true;
@animate-tinRightOut           : true;
@animate-tinLeftOut            : true;
@animate-tinUpOut              : true;
@animate-tinDownOut            : true;
@animate-tinRightIn            : true;
@animate-tinLeftIn             : true;
@animate-tinUpIn               : true;
@animate-tinDownIn             : true;
@animate-bombRightOut          : true;
@animate-bombLeftOut           : true;

// Activate effects styles
@grayscale : false;