seotoaster_core/library/**/*
plugins/*
cache/*
!cache/.gitignore
media/*
!media/.gitignore
previews/*
!previews/crop/
previews/crop/*
!previews/crop/.gitignore
!*/index.html
themes/**/*
seotoaster_core/application/configs/*
.htaccess
error.log
.zfproject.xml
nbproject/*
system/coreinfo.php
tests/*
robots.txt
tmp/*
!tmp/.gitignore
.idea/*
feeds/*
system/js/external/tinymce/*.gz
