seotoaster_core/library/**/*
cache/*
!cache/.gitignore
media/*
!media/.gitignore
previews/*
!previews/crop/
previews/crop/*
!previews/crop/.gitignore
seotoaster_core/application/configs/**/*
!*/index.html
themes/**/*
seotoaster_core/application/configs/application.*
seotoaster_core/application/configs/routes.xml
.htaccess
error.log
.zfproject.xml
nbproject/*
sitemap*
!sitemap.xml.default
!sitemapnews.xml.default
!sitemapindex.xml.default
system/coreinfo.php
tests/*
robots.txt
tmp/*
!tmp/.gitignore
.idea/*
products.xml
feeds/*
