core/library/**/*
plugins/*
cache/*
downloads/*
images/*
previews/*
core/application/configs/**/*
!*/index.html
themes/**/*
core/application/configs/application.ini
core/application/configs/routes.xml
.htaccess
/nbproject/private/