.plugins-list {
  overflow: auto;
  height: 392px;
}
.plugins-list .plugin-item {
  position: relative;
  float: left;
  width: 18%;
  margin: 2% 1% 0;
  padding: 0;
  overflow: hidden;
  -webkit-box-shadow: 4px 4px 3px #bbbbbb;
  -moz-box-shadow: 4px 4px 3px #bbbbbb;
  -ms-box-shadow: 4px 4px 3px #bbbbbb;
  box-shadow: 4px 4px 3px #bbbbbb;
}
.plugins-list .plugin-item:nth-child(1),
.plugins-list .plugin-item:nth-child(2),
.plugins-list .plugin-item:nth-child(3),
.plugins-list .plugin-item:nth-child(4),
.plugins-list .plugin-item:nth-child(5) {
  margin-top: 1%;
}
.plugins-list .plugin-item:hover .readme-plugin,
.plugins-list .plugin-item:hover .del-plugin {
  opacity: 1;
  filter: alpha(opacity=100);
}
.plugins-list .plugin-item .readme-plugin,
.plugins-list .plugin-item .del-plugin {
  z-index: 7;
  text-align: center;
  opacity: 0;
  filter: alpha(opacity=0);
}
.plugins-list .plugin-item .readme-plugin {
  color: #fff;
}
.plugins-list .plugin-item .del-plugin {
  color: #f44645;
}
.plugins-list .plugin-item .plugin-name {
  position: relative;
  z-index: 5;
  background: #2d82a3;
  margin: 0;
  color: #fff;
  padding: 4px 0 4px 8px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-shadow: 0 1px 10px #206887;
  -moz-box-shadow: 0 1px 10px #206887;
  -ms-box-shadow: 0 1px 10px #206887;
  box-shadow: 0 1px 10px #206887;
}
.plugins-list .plugin-item .plugin-image {
  height: 129px;
  overflow: hidden;
  position: relative;
}
.plugins-list .plugin-item .plugin-control {
  color: #ffffff;
  background-color: #cc6257;
  border-color: #b84438;
}
.plugins-list .plugin-item .plugin-control:hover,
.plugins-list .plugin-item .plugin-control:focus,
.plugins-list .plugin-item .plugin-control:active,
.plugins-list .plugin-item .plugin-control.active,
.plugins-list .plugin-item .plugin-control.ui-state-active {
  color: #ffffff;
  background-color: #d8877e;
  border-color: #cc6257;
}
.plugins-list .plugin-item .plugin-control:active,
.plugins-list .plugin-item .plugin-control.active,
.plugins-list .plugin-item .plugin-control.ui-state-active {
  -webkit-box-shadow: 0.2em 0.2em 0.4em #7d2e26 inset;
  -moz-box-shadow: 0.2em 0.2em 0.4em #7d2e26 inset;
  -ms-box-shadow: 0.2em 0.2em 0.4em #7d2e26 inset;
  box-shadow: 0.2em 0.2em 0.4em #7d2e26 inset;
}
.plugins-list .plugin-item .plugin-control.disabled,
.plugins-list .plugin-item .plugin-control[disabled],
.plugins-list .plugin-item .plugin-control.disabled:hover,
.plugins-list .plugin-item .plugin-control[disabled]:hover,
.plugins-list .plugin-item .plugin-control.disabled:focus,
.plugins-list .plugin-item .plugin-control[disabled]:focus,
.plugins-list .plugin-item .plugin-control.disabled:active,
.plugins-list .plugin-item .plugin-control[disabled]:active,
.plugins-list .plugin-item .plugin-control.disabled.active,
.plugins-list .plugin-item .plugin-control[disabled].active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  color: #ffffff;
  background-color: #ab7d78;
  border-color: #94615c;
  text-decoration: none;
}
.plugins-list .plugin-item .plugin-control.block {
  color: #ffffff;
  background-color: #2ecc71;
  border-color: #25a25a;
}
.plugins-list .plugin-item .plugin-control.block:hover,
.plugins-list .plugin-item .plugin-control.block:focus,
.plugins-list .plugin-item .plugin-control.block:active,
.plugins-list .plugin-item .plugin-control.block.active,
.plugins-list .plugin-item .plugin-control.block.ui-state-active {
  color: #ffffff;
  background-color: #54d98c;
  border-color: #2ecc71;
}
.plugins-list .plugin-item .plugin-control.block:active,
.plugins-list .plugin-item .plugin-control.block.active,
.plugins-list .plugin-item .plugin-control.block.ui-state-active {
  -webkit-box-shadow: 0.2em 0.2em 0.4em #176437 inset;
  -moz-box-shadow: 0.2em 0.2em 0.4em #176437 inset;
  -ms-box-shadow: 0.2em 0.2em 0.4em #176437 inset;
  box-shadow: 0.2em 0.2em 0.4em #176437 inset;
}
.plugins-list .plugin-item .plugin-control.block.disabled,
.plugins-list .plugin-item .plugin-control.block[disabled],
.plugins-list .plugin-item .plugin-control.block.disabled:hover,
.plugins-list .plugin-item .plugin-control.block[disabled]:hover,
.plugins-list .plugin-item .plugin-control.block.disabled:focus,
.plugins-list .plugin-item .plugin-control.block[disabled]:focus,
.plugins-list .plugin-item .plugin-control.block.disabled:active,
.plugins-list .plugin-item .plugin-control.block[disabled]:active,
.plugins-list .plugin-item .plugin-control.block.disabled.active,
.plugins-list .plugin-item .plugin-control.block[disabled].active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  color: #ffffff;
  background-color: #53a777;
  border-color: #42855e;
  text-decoration: none;
}
.plugins-list .plugin-item .plugin-endis {
  color: #ffffff;
  background-color: #2d81a2;
  border-color: #2d81a2;
}
.plugins-list .plugin-item .plugin-endis:hover,
.plugins-list .plugin-item .plugin-endis:focus,
.plugins-list .plugin-item .plugin-endis:active,
.plugins-list .plugin-item .plugin-endis.active,
.plugins-list .plugin-item .plugin-endis.ui-state-active {
  color: #ffffff;
  background-color: #3aa0c8;
  border-color: #3aa0c8;
}
.plugins-list .plugin-item .plugin-endis:active,
.plugins-list .plugin-item .plugin-endis.active,
.plugins-list .plugin-item .plugin-endis.ui-state-active {
  -webkit-box-shadow: 0.2em 0.2em 0.4em #11323e inset;
  -moz-box-shadow: 0.2em 0.2em 0.4em #11323e inset;
  -ms-box-shadow: 0.2em 0.2em 0.4em #11323e inset;
  box-shadow: 0.2em 0.2em 0.4em #11323e inset;
}
.plugins-list .plugin-item .plugin-endis.disabled,
.plugins-list .plugin-item .plugin-endis[disabled],
.plugins-list .plugin-item .plugin-endis.disabled:hover,
.plugins-list .plugin-item .plugin-endis[disabled]:hover,
.plugins-list .plugin-item .plugin-endis.disabled:focus,
.plugins-list .plugin-item .plugin-endis[disabled]:focus,
.plugins-list .plugin-item .plugin-endis.disabled:active,
.plugins-list .plugin-item .plugin-endis[disabled]:active,
.plugins-list .plugin-item .plugin-endis.disabled.active,
.plugins-list .plugin-item .plugin-endis[disabled].active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  color: #ffffff;
  background-color: #4c7383;
  border-color: #4c7383;
  text-decoration: none;
}
.plugins-list .plugin-item .plugin-endis.disable {
  color: #848484;
  background-color: #d1d1d1;
  border-color: #eaeaea;
}
.plugins-list .plugin-item .plugin-endis.disable:hover,
.plugins-list .plugin-item .plugin-endis.disable:focus,
.plugins-list .plugin-item .plugin-endis.disable:active,
.plugins-list .plugin-item .plugin-endis.disable.active,
.plugins-list .plugin-item .plugin-endis.disable.ui-state-active {
  color: #848484;
  background-color: #eaeaea;
  border-color: #ffffff;
}
.plugins-list .plugin-item .plugin-endis.disable:active,
.plugins-list .plugin-item .plugin-endis.disable.active,
.plugins-list .plugin-item .plugin-endis.disable.ui-state-active {
  -webkit-box-shadow: 0.2em 0.2em 0.4em #919191 inset;
  -moz-box-shadow: 0.2em 0.2em 0.4em #919191 inset;
  -ms-box-shadow: 0.2em 0.2em 0.4em #919191 inset;
  box-shadow: 0.2em 0.2em 0.4em #919191 inset;
}
.plugins-list .plugin-item .plugin-endis.disable.disabled,
.plugins-list .plugin-item .plugin-endis.disable[disabled],
.plugins-list .plugin-item .plugin-endis.disable.disabled:hover,
.plugins-list .plugin-item .plugin-endis.disable[disabled]:hover,
.plugins-list .plugin-item .plugin-endis.disable.disabled:focus,
.plugins-list .plugin-item .plugin-endis.disable[disabled]:focus,
.plugins-list .plugin-item .plugin-endis.disable.disabled:active,
.plugins-list .plugin-item .plugin-endis.disable[disabled]:active,
.plugins-list .plugin-item .plugin-endis.disable.disabled.active,
.plugins-list .plugin-item .plugin-endis.disable[disabled].active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  color: #848484;
  background-color: #d1d1d1;
  border-color: #eaeaea;
  text-decoration: none;
}
