/*==== Links ========*/
a{
	text-decoration:none;
	color:#3399CC;
	transition:color .3s ease-out;
    -moz-transition:color .3s ease-out;
    -webkit-transition:color .3s ease-out;
    -o-transition:color .3s ease-out;
    -ms-transition:color .3s ease-out;
	transition:none !ie;
}
a:hover, a.current {
	text-decoration:underline;
	color:#005580;
}
table.widget a {
	text-decoration:underline;
	color:#0088AA;
}
table.widget a:hover {
	text-decoration:none;
}

/*========= Formats ===========*/
.fs12 {font-size:12px;}
.fs14 {font-size:14px;}
.fs16 {font-size:16px;}
.fs18 {font-size:18px;}
.fs24 {font-size:24px;}
.fs32 {font-size:32px;}
.fs48 {font-size:48px;}
.fs64 {font-size:64px;}

.bold{ font-weight:bold; }
.normal{ font-weight:normal;}
.italic{ font-style:italic; }

.wrap{ overflow:hidden; }
.block{ display:block; }
.hidden{ display:none; }
.none{ clear:none; }
.both{ clear:both; }

.text-left{ text-align:left; }
.text-center{ text-align:center; }
.text-right{ text-align:right; }

.fl-left{ float:left; }
.fl-right{ float:right; }
.fl--none{ float:none; }

/*========= paginator ===========*/
.paginator div:first-child, .pager div:first-child{ margin-bottom:5px; }
.paginator span.page, .pager span.page{ font-weight:bold; }
.paginator a.page, .pager a.page{ text-decoration:none; margin:0 2px; }
.paginator a.page:before, .paginator a.page:after, .pager a.page:before, .pager a.page:after { font-weight:bold; font-size:14px; }
.paginator a.page[data-page="first"]::before, .pager a.page[data-page="first"]::before{ content:"«"; margin-right:2px; }
.paginator a.page[data-page="last"]::after, .pager a.page[data-page="last"]::after{ content:"»"; margin-left:3px; }
.paginator a.page[data-page="prev"]::before, .pager a.page[data-page="prev"]::before{ content:"‹"; margin-right:2px }
.paginator a.page[data-page="next"]::after, .pager a.page[data-page="next"]::after{ content:"›"; margin-left:3px; }

/*======= Table =======*/
table.widget {
	width:100%;
	border-collapse: inherit;
	background:#fafafa;
	border:none;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	clear:both;
}
table.widget.table-border{ border-right:none; }
table.widget.table-zebra{ background:#fcfcfc; }
table.widget tr.search-line th{
	border-bottom: medium none;
	text-align: left;
}
table.widget tr.search-line label{
	margin-left: 10px;
	margin-right: 10px;
	width: auto;
    display: inline;
}
table.widget tr.search-line input{
	margin: 0;
	width: 300px;
}
table.widget tr.row-red{ background:#F2DEDE; }
table.widget tr.row-green{ background:#DFF0D8; }
table.widget tr.row-blue{ background:#D9EDF7; }
table.widget.table-zebra tr:nth-child(odd){ background:#f7f7f7; }
table.widget tr:hover, table.widget.table-zebra tr:hover{ background:#eee; }
table.widget th, table.widget td {
	border:none;
	border-top:1px solid #fff;
	border-bottom:1px solid #ccc;
	vertical-align: middle;
	padding:5px;
}
table.widget.table-border th, table.widget.table-border td{ border-right:1px solid #ccc; }
table.widget th{
	color:#555;
	/*white-space: nowrap;*/
	border-top:1px solid #ccc;
	text-shadow: 1px 1px 0 #FFFFFF;
	background: #fff;
	background: -moz-linear-gradient(top,  #fff 0%, #f3f3f3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#f3f3f3));
	background: -webkit-linear-gradient(top,  #fff 0%,#f3f3f3 100%);
	background: -o-linear-gradient(top,  #fff 0%,#f3f3f3 100%);
	background: -ms-linear-gradient(top,  #fff 0%,#f3f3f3 100%);
	background: linear-gradient(to bottom,  #fff 0%,#f3f3f3 100%);
	-pie-background: linear-gradient(#fff 0%,#f3f3f3 100%);
	padding:7px 5px;
	font-size:13px;
}
table.widget th.sorting, table.widget th.sortable { cursor: pointer; }
table.widget th.sorting::after, table.widget th.sortable::after { content: "\00A0\21D5"; }
table.widget th.sorting_asc::after, table.widget th.sortUp::after { content: "\00A0\21E9"; }
table.widget th.sorting_desc::after, table.widget th.sortDown::after { content: "\00A0\21E7"; }
table.widget td {
	text-align:center;
	font-size:12px;
}
table.widget td.text-left{ text-align:left; }
table.widget td.text-right{ text-align:right; }
table.widget tfoot tr, table.widget tfoot tr:hover{ background:#ddd; }
table.widget tfoot select{ width:200px; }

/****** Gradient class box *******/
div.gradient{
	outline:1px solid #c4c4c4;
	margin-bottom:25px;
}
div.gradient>h2, div.gradient>ul.ui-tabs-nav{
	font-size: 20px;
	font-weight: normal;
	padding: 5px 10px;
	margin:0;
	background: #fff;
	background: -moz-linear-gradient(top,  #fff 0%, #f3f3f3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#f3f3f3));
	background: -webkit-linear-gradient(top,  #fff 0%,#f3f3f3 100%);
	background: -o-linear-gradient(top,  #fff 0%,#f3f3f3 100%);
	background: -ms-linear-gradient(top,  #fff 0%,#f3f3f3 100%);
	background: linear-gradient(to bottom,  #fff 0%,#f3f3f3 100%);
	-pie-background: linear-gradient(#fff 0%,#f3f3f3 100%);
}
div.gradient>div{
	background:#fff;
	border-top:1px solid #c4c4c4;
	padding:10px;
	overflow:hidden;
}

/****** Tabs *******/
div.ui-tabs{
	border-radius:0;
	-ms-border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}
div.ui-tabs > ul.ui-tabs-nav{
	box-shadow:none;
	-ms-box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	border-radius:0;
	-ms-border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	background:none;
	border:none;
	padding:0 !important;
	position:relative;
	z-index:5;
}
div.ui-tabs > ul.ui-tabs-nav > li{
	border-radius:0;
	-ms-border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	margin: 0;
	padding: 0;
	background:none;
	border:1px solid transparent;
	border-bottom:none;
	position:static;
	float:left;
}
div.ui-tabs > ul.ui-tabs-nav > li.ui-tabs-selected{
	padding-bottom:1px;
	margin-bottom:-1px;
	border-color: #c4c4c4;
	background:#fff;
}
div.ui-tabs > ul.ui-tabs-nav > li > a {
	font-size: 16px;
	font-weight: bold;
	padding: 7px 15px;
	text-shadow: 1px 1px 0 #FFF;
	color:#666;
}
div.ui-tabs > ul.ui-tabs-nav > li > a:hover, div.ui-tabs > ul.ui-tabs-nav > li.ui-tabs-selected > a{ color:#444; }
div.ui-tabs > .ui-tabs-panel{
	background:#fff;
	overflow:hidden;
	border:1px solid #c4c4c4;
	padding: 0;
	border-radius:0;
	-ms-border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}

/****** Tabs reset *******/
div.ui-tabs.gradient > ul.ui-tabs-nav > li{ border-width:0 1px; }
div.ui-tabs.gradient > ul.ui-tabs-nav > li.ui-tabs-selected:first-child{ border-left:none; }
div.ui-tabs.gradient > .ui-tabs-panel{ border-width:1px 0 0 0; }

/****** Tabs left *******/
div.ui-tabs.tabs-left{
	box-shadow:none;
	-ms-box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	outline:none;
}
div.ui-tabs.tabs-left > ul.ui-tabs-nav{
	float:left;
	margin-right:-1px;
}
div.ui-tabs.tabs-left.gradient > ul.ui-tabs-nav{
	border:1px solid #c4c4c4;
	border-right:none;
}
div.ui-tabs.tabs-left > ul.ui-tabs-nav > li{
	margin:0;
	padding:0;
	float:none;
	overflow:hidden;
	border-left: none;
	border-right:1px solid #c4c4c4;
}
div.ui-tabs.tabs-left > ul.ui-tabs-nav > li.ui-tabs-selected{
	margin-bottom:-1px;
	border-right:1px solid #fff;
	border-left:1px solid #c4c4c4;
	border-top:1px solid #c4c4c4;
	border-bottom:1px solid #c4c4c4 !important;
}
div.ui-tabs.tabs-left.gradient > ul.ui-tabs-nav > li.ui-tabs-selected{ border-left:none; }
div.ui-tabs.tabs-left.gradient > ul.ui-tabs-nav > li.ui-tabs-selected:first-child{ border-top:none; }
div.ui-tabs.tabs-left > .ui-tabs-panel{ border:1px solid #c4c4c4; }

/****** Tabs list *******/
div.ui-tabs.tabs-list{ }
div.ui-tabs.tabs-list > ul.ui-tabs-nav{ }
div.ui-tabs.tabs-list > ul.ui-tabs-nav > li{
	border:none;
	border-left:1px solid #ccc;
	padding:0 5px;
}
div.ui-tabs.tabs-list.tabs-left > ul.ui-tabs-nav > li{ border:none !important; }
div.ui-tabs.tabs-list > ul.ui-tabs-nav > li.ui-tabs-selected{
	margin:0;
	background:none;
}
div.ui-tabs.tabs-list > ul.ui-tabs-nav > li:first-child{ border-left:none; }
div.ui-tabs.tabs-list > ul.ui-tabs-nav > li > a{
	font-weight:normal;
	padding:0 5px;
	margin:0;
	color:#3399CC;
}
div.ui-tabs.tabs-list > ul.ui-tabs-nav > li.ui-tabs-selected > a{
	color:#005580;
	border:none;
}
div.ui-tabs.tabs-list > .ui-tabs-panel{
	border:none;
	background:none;
	padding-left:0;
	padding-right:0;
}
/****** Tabs white *******/
div.ui-tabs.tabs-white{ }
div.ui-tabs.tabs-white > ul.ui-tabs-nav{
	background:#fff;
	outline: 1px solid #C4C4C4;
}
div.ui-tabs.tabs-white > ul.ui-tabs-nav > li{
	border:none;
	border-left:1px solid #ccc;
	padding:0;
}
div.ui-tabs.tabs-white.tabs-left > ul.ui-tabs-nav > li{ border:none !important; }
div.ui-tabs.tabs-white > ul.ui-tabs-nav > li.ui-tabs-selected{
	margin:0;
	background:none;
}
div.ui-tabs.tabs-white > ul.ui-tabs-nav > li:first-child{ border-left:none; }
div.ui-tabs.tabs-white > ul.ui-tabs-nav > li > a{
	margin:0;
	color:#3399CC;
	padding:7px;
	font-weight:bold;
	font-size:14px;
}
div.ui-tabs.tabs-white > ul.ui-tabs-nav > li.ui-tabs-selected > a{
	color:#005580;
	border:none;
}
div.ui-tabs.tabs-white > .ui-tabs-panel{
	border:1px solid #c4c4c4;
	background:#fff;
	margin:10px 0;
	padding:0;
	overflow:visible;
}
div.ui-tabs.tabs-white > .ui-tabs-panel .tabs{
	border:none;
	outline:none;
	background:none;
	margin:0;
	padding:0;
}

/*buttons style*/
.btn {
	border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	font-size:14px;
	color: #fff;
	display: inline-block;
	padding: 5px 10px;
	vertical-align: middle;
	border:1px solid;
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
	cursor:pointer;
}
*+html .btn { display: inline; }
.btn-text{
	background: none;
	border:none;
	font-size:14px;
	font-weight:normal;
	color:#777;
	text-shadow:none;
	text-decoration:none;
	padding:0;
	cursor:pointer;
}
.btn-text:hover{
	background: none;
	color:#000;
	text-decoration:none;
}
.btn-small {
	font-size:11px;
	padding: 3px 7px;
}
.btn-big {
	font-size:16px;
	padding: 10px 15px;
}
.btn-block {
	width:100%;
	float:none;
	text-align:center;
	margin-left:0;
	margin-right:0;
	font-size:16px;
	padding: 10px 0;
	box-sizing:border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.btn-filter{
	width:auto;
	margin-left:-1px;
	margin-right:0;
	padding:3px 5px;
	font-size:12px;
	border-radius: 0;
	-ms-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
.btn-first{
	margin-left:5px;
	border-radius: 5px 0 0 5px;
	-ms-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
}
.btn-last{
	border-radius: 0 5px 5px 0;
	-ms-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
}
.btn.disable{
	text-decoration:none;
	cursor:default;
	opacity:0.6;
	box-shadow:none;
	-ms-box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.btn-filter.disable{ opacity:1; }
.btn-reset{
	border:none;
	background:none;
	padding:0;
}

/*Gradient on background*/
.green-gradient, table.widget tr>.green-gradient{
	background: #62c462;
	background: -moz-linear-gradient(top,  #62c462 0%, #51a351 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#62c462), color-stop(100%,#51a351));
	background: -webkit-linear-gradient(top,  #62c462 0%,#51a351 100%);
	background: -o-linear-gradient(top,  #62c462 0%,#51a351 100%);
	background: -ms-linear-gradient(top,  #62c462 0%,#51a351 100%);
	background: linear-gradient(#62c462 0%,#51a351 100%);
	-pie-background: linear-gradient(#62c462 0%,#51a351 100%);
}.btn.green-gradient:hover, .btn.green-gradient.active, .btn.green-gradient.current, .btn.green-gradient.disable{ background: #51a351; }
.dark-green-gradient, table.widget tr>.dark-green-gradient{
	background: #739302;
	background: -moz-linear-gradient(top,  #668301 0%, #546a06 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#668301), color-stop(100%,#546a06));
	background: -webkit-linear-gradient(top,  #668301 0%,#546a06 100%);
	background: -o-linear-gradient(top,  #668301 0%,#546a06 100%);
	background: -ms-linear-gradient(top,  #668301 0%,#546a06 100%);
	background: linear-gradient(to bottom,  #668301 0%,#546a06 100%);
	-pie-background: linear-gradient(#668301 0%,#546a06 100%);
}.btn.dark-green-gradient:hover, .btn.dark-green-gradient.active, .btn.dark-green-gradient.current, .btn.dark-green-gradient.disable{ background: #546a06; }
.gray-gradient, table.widget tr>.gray-gradient{
	background: #fff;
	background: -moz-linear-gradient(top,  #fff 0%, #f3f3f3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#f3f3f3));
	background: -webkit-linear-gradient(top,  #fff 0%,#f3f3f3 100%);
	background: -o-linear-gradient(top,  #fff 0%,#f3f3f3 100%);
	background: -ms-linear-gradient(top,  #fff 0%,#f3f3f3 100%);
	background: linear-gradient(to bottom,  #fff 0%,#f3f3f3 100%);
	-pie-background: linear-gradient(#fff 0%,#f3f3f3 100%);
	color:#444;
	text-shadow: none;
}.btn.gray-gradient:hover, .btn.gray-gradient.active, .btn.gray-gradient.current, .btn.gray-gradient.disable{	background: #f3f3f3; }
.dark-gray-gradient, table.widget tr>.dark-gray-gradient{
	background: #fafafa;
	background: -moz-linear-gradient(top,  #fafafa 0%, #dfdfdf 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#dfdfdf));
	background: -webkit-linear-gradient(top,  #fafafa 0%,#dfdfdf 100%);
	background: -o-linear-gradient(top,  #fafafa 0%,#dfdfdf 100%);
	background: -ms-linear-gradient(top,  #fafafa 0%,#dfdfdf 100%);
	background: linear-gradient(to bottom,  #fafafa 0%,#dfdfdf 100%);
	-pie-background: linear-gradient(#fafafa 0%,#dfdfdf 100%);
	color:#444;
	text-shadow: none;
}.btn.dark-gray-gradient:hover, .btn.dark-gray-gradient.active, .btn.dark-gray-gradient.current, .btn.dark-gray-gradient.disable{ background: #dfdfdf; }
.orange-gradient, table.widget tr>.orange-gradient{
	background: #fbb450;
	background: -moz-linear-gradient(top,  #fbb450 0%, #f89406 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbb450), color-stop(100%,#f89406));
	background: -webkit-linear-gradient(top,  #fbb450 0%,#f89406 100%);
	background: -o-linear-gradient(top,  #fbb450 0%,#f89406 100%);
	background: -ms-linear-gradient(top,  #fbb450 0%,#f89406 100%);
	background: linear-gradient(#fbb450 0%,#f89406 100%);
	-pie-background: linear-gradient(#fbb450 0%,#f89406 100%);
}.btn.orange-gradient:hover, .btn.orange-gradient.active, .btn.orange-gradient.current, .btn.orange-gradient.disable{ background: #f89406; }
.red-gradient, table.widget tr>.red-gradient{
	background: #ED7A53;
	background: -moz-linear-gradient(top,  #ED7A53 0%, #D14A1D 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ED7A53), color-stop(100%,#D14A1D));
	background: -webkit-linear-gradient(top,  #ED7A53 0%,#D14A1D 100%);
	background: -o-linear-gradient(top,  #ED7A53 0%,#D14A1D 100%);
	background: -ms-linear-gradient(top,  #ED7A53 0%,#D14A1D 100%);
	background: linear-gradient(#ED7A53 0%,#D14A1D 100%);
	-pie-background: linear-gradient(#ED7A53 0%,#D14A1D 100%);
}.btn.red-gradient:hover, .btn.red-gradient.active, .btn.red-gradient.current, .btn.red-gradient.disable{ background: #D14A1D; }
.blue-gradient, table.widget tr>.blue-gradient{
	background: #88BBC8;
	background: -moz-linear-gradient(top,  #88BBC8 0%, #4496AA 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#88BBC8), color-stop(100%,#4496AA));
	background: -webkit-linear-gradient(top,  #88BBC8 0%,#4496AA 100%);
	background: -o-linear-gradient(top,  #88BBC8 0%,#4496AA 100%);
	background: -ms-linear-gradient(top,  #88BBC8 0%,#4496AA 100%);
	background: linear-gradient(#88BBC8 0%,#4496AA 100%);
	-pie-background: linear-gradient(#88BBC8 0%,#4496AA 100%);
}.btn.blue-gradient:hover, .btn.blue-gradient.active, .btn.blue-gradient.current, .btn.blue-gradient.disable{ background: #4496AA; }
.black-gradient, table.widget tr>.black-gradient{
	background: #444444;
	background: -moz-linear-gradient(top,  #444444 0%, #222222 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444444), color-stop(100%,#222222));
	background: -webkit-linear-gradient(top,  #444444 0%,#222222 100%);
	background: -o-linear-gradient(top,  #444444 0%,#222222 100%);
	background: -ms-linear-gradient(top,  #444444 0%,#222222 100%);
	background: linear-gradient(#444444 0%,#222222 100%);
	-pie-background: linear-gradient(#444444 0%,#222222 100%);
}.btn.black-gradient:hover, .btn.black-gradient.active, .btn.black-gradient.current, .btn.black-gradient.disable{ background: #222; }

/*Color on background*/
.orange-bg, table.widget tr>.orange-bg{background:#f89406; color:#fff;}
.red-bg, table.widget tr>.red-bg{background:#D14A1D; color:#fff;}
.blue-bg, table.widget tr>.blue-bg{background:#4496AA; color:#fff;}
.green-bg, table.widget tr>.green-bg{background:#51a351; color:#fff;}
.dark-green-bg, table.widget tr>.dark-green-bg{background: #546a06; color:#fff;}
.black-bg, table.widget tr>.black-bg{background:#222; color:#fff;}
.gray-bg, table.widget tr>.gray-bg{background:#eee; color:#000;}
.dark-gray-bg, table.widget tr>.dark-gray-bg{background:#aaa; color:#000;}
.white-bg, table.widget tr>.white-bg{background:#fff; color:#000;}

/*Color for fonts*/
.orange, table.widget tr>.orange{color:#f89406;}
.red, table.widget tr>.red{color:#D14A1D;}
.blue, table.widget tr>.blue{color:#4496AA;}
.green, table.widget tr>.green{color:#51a351;}
.dark-green, table.widget tr>.dark-green{color:#546a06;}
.black, table.widget tr>.black{color:#000;}
.gray, table.widget tr>.gray{color:#eee;}
.dark-gray, table.widget tr>.dark-gray{color:#aaa;}
.white, table.widget tr>.white{color:#fff;}

/* Progress bar */
.ui-progressbar { 
	height:10px; 
	text-align: left; 
	overflow: hidden; 
	background: #aaa;
	clear: both;
	margin:0;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	width: 99%;	
}
.ui-progressbar .ui-progressbar-value {
	margin:0;
	height:8px; 
	border: 1px solid #51a351;
	box-shadow: 0 1px 0 #62c462 inset;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #62c462;
	background: -moz-linear-gradient(top,  #62c462 0%, #51a351 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#62c462), color-stop(100%,#51a351));
	background: -webkit-linear-gradient(top,  #62c462 0%,#51a351 100%);
	background: -o-linear-gradient(top,  #62c462 0%,#51a351 100%);
	background: -ms-linear-gradient(top,  #62c462 0%,#51a351 100%);
	background: linear-gradient(#62c462 0%,#51a351 100%);
	-pie-background: linear-gradient(#62c462 0%,#51a351 100%);
}

/* Margin */
.margin0px{ margin:0px;}
.mt0px { margin-top:0px; }
.mt1px { margin-top:1px; }
.mt2px { margin-top:2px; }
.mt3px { margin-top:3px; }
.mt4px { margin-top:4px; }
.mt5px { margin-top:5px; }
.mt6px { margin-top:6px; }
.mt7px { margin-top:7px; }
.mt8px { margin-top:8px; }
.mt9px { margin-top:9px; }
.mt10px { margin-top:10px; }
.mt20px { margin-top:20px; }
.mt30px { margin-top:30px; }
.mt40px { margin-top:40px; }
.mt50px { margin-top:50px; }
.mb0px { margin-bottom:0px; }
.mb1px { margin-bottom:1px; }
.mb2px { margin-bottom:2px; }
.mb3px { margin-bottom:3px; }
.mb4px { margin-bottom:4px; }
.mb5px { margin-bottom:5px; }
.mb6px { margin-bottom:6px; }
.mb7px { margin-bottom:7px; }
.mb8px { margin-bottom:8px; }
.mb9px { margin-bottom:9px; }
.mb10px { margin-bottom:10px; }
.mb15px { margin-bottom:15px; }
.mb20px { margin-bottom:20px; }
.mb30px { margin-bottom:30px; }
.mb40px { margin-bottom:40px; }
.mb50px { margin-bottom:50px; }
.ml0px { margin-left:0px; }
.ml1px { margin-left:1px; }
.ml2px { margin-left:2px; }
.ml3px { margin-left:3px; }
.ml4px { margin-left:4px; }
.ml5px { margin-left:5px; }
.ml6px { margin-left:6px; }
.ml7px { margin-left:7px; }
.ml8px { margin-left:8px; }
.ml9px { margin-left:9px; }
.ml10px { margin-left:10px; }
.ml15px { margin-left:15px; }
.ml20px { margin-left:20px; }
.ml30px { margin-left:30px; }
.ml40px { margin-left:40px; }
.ml50px { margin-left:50px; }
.mlGrid1 { margin-left:1%; }
.mlGrid2 { margin-left:2%; }
.mlGrid3 { margin-left:3%; }
.mlGrid4 { margin-left:4%; }
.mlGrid5 { margin-left:5%; }
.mr0px { margin-right:0px; }
.mr1px { margin-right:1px; }
.mr2px { margin-right:2px; }
.mr3px { margin-right:3px; }
.mr4px { margin-right:4px; }
.mr5px { margin-right:5px; }
.mr6px { margin-right:6px; }
.mr7px { margin-right:7px; }
.mr8px { margin-right:8px; }
.mr9px { margin-right:9px; }
.mr10px { margin-right:10px; }
.mr15px { margin-right:15px; }
.mr20px { margin-right:20px; }
.mr30px { margin-right:30px; }
.mr40px { margin-right:40px; }
.mr50px { margin-right:50px; }
.mrGrid1 { margin-right:1%; }
.mrGrid2 { margin-right:2%; }
.mrGrid3 { margin-right:3%; }
.mrGrid4 { margin-right:4%; }
.mrGrid5 { margin-right:5%; }

/* Padding */
.padding0px { padding:0px; }
.padding5px { padding:5px; }
.padding8px { padding:8px; }
.padding10px { padding:10px; }
.padding15px { padding:15px; }
.pt0px { padding-top:0px; }
.pt1px { padding-top:1px; }
.pt2px { padding-top:2px; }
.pt3px { padding-top:3px; }
.pt4px { padding-top:4px; }
.pt5px { padding-top:5px; }
.pt10px { padding-top:10px; }
.pt20px { padding-top:20px; }
.pt30px { padding-top:30px; }
.pt40px { padding-top:40px; }
.pt50px { padding-top:50px; }
.pb0px { padding-bottom:0px; }
.pb1px { padding-bottom:1px; }
.pb2px { padding-bottom:2px; }
.pb3px { padding-bottom:3px; }
.pb4px { padding-bottom:4px; }
.pb5px { padding-bottom:5px; }
.pb10px { padding-bottom:10px; }
.pb15px { padding-bottom:15px; }
.pb20px { padding-bottom:20px; }
.pb30px { padding-bottom:30px; }
.pb40px { padding-bottom:40px; }
.pb50px { padding-bottom:50px; }
.pl0px { padding-left:0px; }
.pl1px { padding-left:1px; }
.pl2px { padding-left:2px; }
.pl3px { padding-left:3px; }
.pl4px { padding-left:4px; }
.pl5px { padding-left:5px; }
.pl10px { padding-left:10px; }
.pl20px { padding-left:20px; }
.pl30px { padding-left:30px; }
.pl40px { padding-left:40px; }
.pl50px { padding-left:50px; }
.pr0px { padding-right:0px; }
.pr1px { padding-right:1px; }
.pr2px { padding-right:2px; }
.pr3px { padding-right:3px; }
.pr4px { padding-right:4px; }
.pr5px { padding-right:5px; }
.pr10px { padding-right:10px; }
.pr20px { padding-right:20px; }
.pr30px { padding-right:30px; }
.pr40px { padding-right:40px; }
.pr50px { padding-right:50px; }

/*====== SOME SIZES ======== */
.wAuto { width:auto; }
.w100 { width:100px; }
.w150 { width:150px; }
.w200 { width:200px; }
.w250 { width:250px; }
.w300 { width:300px; }
.w350 { width:350px; }
.w400 { width:400px; }
.w450 { width:450px; }
.w500 { width:500px; }
.w600 { width:600px; }
.w700 { width:700px; }
.w800 { width:800px; }
.w900 { width:900px; }
.w960 { width:960px; }
.wGrid10 {width:10%;}
.wGrid20 {width:20%;}
.wGrid30 {width:30%;}
.wGrid40 {width:40%;}
.wGrid50 {width:50%;}
.wGrid60 {width:60%;}
.wGrid70 {width:70%;}
.wGrid80 {width:80%;}
.wGrid90 {width:90%;}
.wGrid100 {width:100%;}
.hAuto { height:auto; }
.h80 { height:80px; }
.h100 { height:100px; }
.h150 { height:150px; }
.h170 { height:170px; }
.h180 { height:180px; }
.h200 { height:200px; }
.h250 { height:250px; }
.h300 { height:300px; }
.h350 { height:350px; }
.h400 { height:400px; }
.h500 { height:500px; }
.h530 { height:530px; }
.h550 { height:550px; }
.h570 { height:570px; }
.h600 { height:600px; }
.h640 { height:640px; }


.oh, .ot, .tt{
	float:left;
	margin:10px 1%;
	width:48%;
}
.ot{width:31%}
.tt{width:65%}