form:after,
.form:after {
  content: "";
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  height: 0;
}
form p,
.form p {
  margin: 0;
}
form > p,
.form > p,
form fieldset > p,
.form fieldset > p,
form > div,
.form > div,
form fieldset > div,
.form fieldset > div {
  margin-top: 0.65em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
form > p:after,
.form > p:after,
form fieldset > p:after,
.form fieldset > p:after,
form > div:after,
.form > div:after,
form fieldset > div:after,
.form fieldset > div:after {
  content: "";
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  height: 0;
}
form > p:first-child,
.form > p:first-child,
form fieldset > p:first-child,
.form fieldset > p:first-child,
form > div:first-child,
.form > div:first-child,
form fieldset > div:first-child,
.form fieldset > div:first-child {
  margin-top: 0;
}
form.condensed > p,
.form.condensed > p,
form.condensed fieldset > p,
.form.condensed fieldset > p,
form.condensed > div,
.form.condensed > div,
form.condensed fieldset > div,
.form.condensed fieldset > div {
  margin-top: .5em;
}
form label,
.form label {
  display: block;
  margin-bottom: 0.25em;
  color: #888888;
}
form label.required:after,
.form label.required:after {
  color: #e74c3c;
  content: ' *';
}
form .captcha .captcha_image,
.form .captcha .captcha_image {
  width: 65% !important;
  height: auto !important;
  float: left;
  text-align: center;
}
#left form .captcha .captcha_image,
#left .form .captcha .captcha_image,
#right form .captcha .captcha_image,
#right .form .captcha .captcha_image {
  width: 100% !important;
}
form .captcha label,
.form .captcha label,
form .captcha input,
.form .captcha input {
  float: left;
  width: 35%;
  font-weight: normal;
  font-size: 0.85em;
}
#left form .captcha label,
#left .form .captcha label,
#left form .captcha input,
#left .form .captcha input,
#right form .captcha label,
#right .form .captcha label,
#right form .captcha input,
#right .form .captcha input {
  width: 100%;
}
form .captcha .recaptcha_links,
.form .captcha .recaptcha_links {
  clear: both;
  font-size: 0.85em;
  padding-top: 1em;
}
form .captcha .recaptcha_links a + a,
.form .captcha .recaptcha_links a + a {
  border-left: 1px solid #666666;
  padding-left: 1em;
  margin-left: 1em;
}
form [type="submit"],
.form [type="submit"] {
  float: right;
  margin-top: 10px;
}
form.form-inline > p,
.form.form-inline > p,
form.form-inline fieldset > p,
.form.form-inline fieldset > p,
form.form-inline > div,
.form.form-inline > div,
form.form-inline fieldset > div,
.form.form-inline fieldset > div {
  margin-top: 0;
}
form.form-inline > [type="submit"],
.form.form-inline > [type="submit"],
form.form-inline > [type="button"],
.form.form-inline > [type="button"] {
  margin-top: 24px;
}
form.form-grid label:first-child,
.form.form-grid label:first-child {
  float: left;
  margin-right: 2%;
  width: 48%;
}
form.form-grid select,
.form.form-grid select,
form.form-grid textarea,
.form.form-grid textarea,
form.form-grid input,
.form.form-grid input {
  float: left;
  margin-left: 2%;
  width: 48%;
}
select,
textarea,
input {
  padding: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
  background-color: #ffffff;
  color: #377d98;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
select:focus:not([type="submit"]):not([type="button"]),
textarea:focus:not([type="submit"]):not([type="button"]),
input:focus:not([type="submit"]):not([type="button"]) {
  border-color: #31b0d5;
  -webkit-box-shadow: 0 0 3px #31b0d5;
  -moz-box-shadow: 0 0 3px #31b0d5;
  -ms-box-shadow: 0 0 3px #31b0d5;
  box-shadow: 0 0 3px #31b0d5;
}
select.success,
textarea.success,
input.success {
  border-color: #2ecc71;
  color: #2ecc71;
}
select.success:focus,
textarea.success:focus,
input.success:focus {
  -webkit-box-shadow: 0 0 3px #2ecc71;
  -moz-box-shadow: 0 0 3px #2ecc71;
  -ms-box-shadow: 0 0 3px #2ecc71;
  box-shadow: 0 0 3px #2ecc71;
}
select.warning,
textarea.warning,
input.warning {
  border-color: #e67e22;
  color: #e67e22;
}
select.warning:focus,
textarea.warning:focus,
input.warning:focus {
  -webkit-box-shadow: 0 0 3px #e67e22;
  -moz-box-shadow: 0 0 3px #e67e22;
  -ms-box-shadow: 0 0 3px #e67e22;
  box-shadow: 0 0 3px #e67e22;
}
select.error,
textarea.error,
input.error,
select:required,
textarea:required,
input:required {
  border-color: #e74c3c;
  color: #e74c3c;
}
select.error:focus,
textarea.error:focus,
input.error:focus,
select:required:focus,
textarea:required:focus,
input:required:focus {
  -webkit-box-shadow: 0 0 3px #e74c3c;
  -moz-box-shadow: 0 0 3px #e74c3c;
  -ms-box-shadow: 0 0 3px #e74c3c;
  box-shadow: 0 0 3px #e74c3c;
}
select.info,
textarea.info,
input.info {
  border-color: #3498db;
  color: #3498db;
}
select.info:focus,
textarea.info:focus,
input.info:focus {
  -webkit-box-shadow: 0 0 2px #3498db;
  -moz-box-shadow: 0 0 2px #3498db;
  -ms-box-shadow: 0 0 2px #3498db;
  box-shadow: 0 0 2px #3498db;
}
select[disabled],
textarea[disabled],
input[disabled],
select.disabled,
textarea.disabled,
input.disabled,
select[disabled]:focus,
textarea[disabled]:focus,
input[disabled]:focus,
select.disabled:focus,
textarea.disabled:focus,
input.disabled:focus,
select.noedit,
textarea.noedit,
input.noedit,
select.noedit:focus,
textarea.noedit:focus,
input.noedit:focus {
  border-color: #d1d1d1 !important;
  background: #eaeaea !important;
  color: #9e9e9e !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
input {
  height: 30px;
}
input.small {
  height: 23px;
  padding: 4px;
}
input.large {
  height: 43px;
  padding: 10px;
}
select {
  padding: 3px 6px;
  height: 30px;
  line-height: 24px;
}
select.small {
  padding: 2px 4px;
  line-height: 19px;
}
select.large {
  padding: 5px 10px;
  line-height: 33px;
}
select option {
  color: #333333;
}
.labeled {
  position: relative;
}
.labeled:after {
  content: "";
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  height: 0;
}
.labeled.icon input + [class*="icon-"] {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  z-index: 2;
  color: #cccccc;
  width: 14px;
  height: 14px;
  line-height: 14px;
  font-size: 0;
}
.labeled.icon input + [class*="icon-"]:before {
  font-size: 14px;
}
.labeled.icon input:focus + [class*="icon-"] {
  color: #666666;
}
.labeled.icon.right [class*="icon-"] {
  right: 5px;
}
.labeled.icon.right input {
  padding-right: 24px;
}
.labeled.icon.left [class*="icon-"] {
  left: 5px;
}
.labeled.icon.left input {
  padding-left: 24px;
}
.labeled label,
.labeled .label {
  margin-top: 0;
  margin-bottom: 0;
  height: 30px;
  background: #cccccc;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.labeled input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.labeled input:focus + label,
.labeled input:focus + .label {
  background: #31b0d5;
}
.checkbox_radio-wrap {
  display: inline-block;
  vertical-align: middle;
}
input[type="checkbox"],
input[type="radio"] {
  height: auto;
  position: absolute;
  opacity: 0;
}
input[type="checkbox"] ~ .checkbox_radio,
input[type="radio"] ~ .checkbox_radio {
  display: inline-block;
  font-size: 16px;
  height: 1em;
  width: 1em;
  line-height: 0;
  background-color: #ffffff;
  vertical-align: middle;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  cursor: pointer;
}
input[type="checkbox"] ~ .checkbox_radio:before,
input[type="radio"] ~ .checkbox_radio:before {
  font-family: 'toaster-icons';
  content: '';
  display: block;
}
input[type="checkbox"]:disabled ~ .checkbox_radio,
input[type="radio"]:disabled ~ .checkbox_radio {
  background: #eaeaea;
  border-color: #d1d1d1;
  color: #9e9e9e !important;
}
input[type="radio"] ~ .checkbox_radio {
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  -ms-border-radius: 10em;
  border-radius: 10em;
}
input[type="radio"] ~ .checkbox_radio:before {
  width: 0.75em;
  height: 0.75em;
  margin: 0.125em;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  -ms-border-radius: 10em;
  border-radius: 10em;
}
input[type="radio"]:checked ~ .checkbox_radio {
  border-color: #31b0d5;
}
input[type="radio"]:checked ~ .checkbox_radio:before {
  background: #31b0d5;
}
input[type="checkbox"] ~ .checkbox_radio:before {
  content: '\e013';
  color: transparent;
  font-size: 1.5em;
  margin: 0.2em 0 0 0;
}
input[type="checkbox"]:checked ~ .checkbox_radio:before {
  color: #31b0d5;
}
input[type="checkbox"].switcher ~ .checkbox_radio {
  overflow: hidden;
  position: relative;
  width: 4em;
  height: 1.25em;
}
input[type="checkbox"].switcher ~ .checkbox_radio:before,
input[type="checkbox"].switcher ~ .checkbox_radio:after {
  position: static;
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-size: 0.75em;
  line-height: 1.875em;
  font-weight: bold;
  width: 50%;
  text-align: center;
  float: left;
  margin: 0;
}
input[type="checkbox"].switcher ~ .checkbox_radio:before {
  content: "ON" !important;
  color: #2ecc71;
}
input[type="checkbox"].switcher ~ .checkbox_radio:after {
  content: "OFF" !important;
  color: #e74c3c;
}
input[type="checkbox"].switcher ~ .checkbox_radio span {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background: #cccccc;
  position: absolute;
  border: 1px solid #ffffff;
  z-index: 5;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50%;
}
input[type="checkbox"].switcher:checked ~ .checkbox_radio span {
  left: 50%;
}
input.icon ~ [class*="icon-"] {
  color: #eaeaea;
  cursor: pointer;
  width: 42px;
  height: 42px;
  line-height: 42px;
  font-size: 0;
}
input.icon ~ [class*="icon-"]:before {
  font-size: 42px;
}
input.icon ~ [class*="icon-"]:hover {
  color: #d1d1d1;
}
input.icon ~ input {
  border-color: transparent;
}
input.icon:checked ~ input {
  border-color: #cccccc;
}
input.icon.facebook:checked ~ [class*="icon-"],
input.icon.facebook ~ input.filled ~ [class*="icon-"] {
  color: #3b5a99;
}
input.icon.facebook:checked ~ input:focus {
  border-color: #3b5a99;
  -webkit-box-shadow: 0 0 3px #3b5a99;
  -moz-box-shadow: 0 0 3px #3b5a99;
  -ms-box-shadow: 0 0 3px #3b5a99;
  box-shadow: 0 0 3px #3b5a99;
}
input.icon.twitter:checked ~ [class*="icon-"],
input.icon.twitter ~ input.filled ~ [class*="icon-"] {
  color: #1aa8e0;
}
input.icon.twitter:checked ~ input:focus {
  border-color: #1aa8e0;
  -webkit-box-shadow: 0 0 3px #1aa8e0;
  -moz-box-shadow: 0 0 3px #1aa8e0;
  -ms-box-shadow: 0 0 3px #1aa8e0;
  box-shadow: 0 0 3px #1aa8e0;
}
input.icon.linkedin:checked ~ [class*="icon-"],
input.icon.linkedin ~ input.filled ~ [class*="icon-"] {
  color: #4875b5;
}
input.icon.linkedin:checked ~ input:focus {
  border-color: #4875b5;
  -webkit-box-shadow: 0 0 3px #4875b5;
  -moz-box-shadow: 0 0 3px #4875b5;
  -ms-box-shadow: 0 0 3px #4875b5;
  box-shadow: 0 0 3px #4875b5;
}
input.icon.rss:checked ~ [class*="icon-"],
input.icon.rss ~ input.filled ~ [class*="icon-"] {
  color: #FE9900;
}
input.icon.rss:checked ~ input:focus {
  border-color: #FE9900;
  -webkit-box-shadow: 0 0 3px #fe9900;
  -moz-box-shadow: 0 0 3px #fe9900;
  -ms-box-shadow: 0 0 3px #fe9900;
  box-shadow: 0 0 3px #fe9900;
}
input.icon.gplus:checked ~ [class*="icon-"],
input.icon.gplus ~ input.filled ~ [class*="icon-"] {
  color: #ca3e2d;
}
input.icon.gplus:checked ~ input:focus {
  border-color: #ca3e2d;
  -webkit-box-shadow: 0 0 3px #ca3e2d;
  -moz-box-shadow: 0 0 3px #ca3e2d;
  -ms-box-shadow: 0 0 3px #ca3e2d;
  box-shadow: 0 0 3px #ca3e2d;
}
input.icon.youtube:checked ~ [class*="icon-"],
input.icon.youtube ~ input.filled ~ [class*="icon-"] {
  color: #c7453f;
}
input.icon.youtube:checked ~ input:focus {
  border-color: #c7453f;
  -webkit-box-shadow: 0 0 3px #c7453f;
  -moz-box-shadow: 0 0 3px #c7453f;
  -ms-box-shadow: 0 0 3px #c7453f;
  box-shadow: 0 0 3px #c7453f;
}
input.icon.pinterest:checked ~ [class*="icon-"],
input.icon.pinterest ~ input.filled ~ [class*="icon-"] {
  color: #bd3137;
}
input.icon.pinterest:checked ~ input:focus {
  border-color: #bd3137;
  -webkit-box-shadow: 0 0 3px #bd3137;
  -moz-box-shadow: 0 0 3px #bd3137;
  -ms-box-shadow: 0 0 3px #bd3137;
  box-shadow: 0 0 3px #bd3137;
}
