@charset "utf-8";
/* CSS Document */


/*=========== General ============= */
body, body.seotoaster {
	margin:0;
	padding:0;
}
.seotoaster {
	background-color: #BDE6F1;
	position:relative;
	font-family:helvetica;
	display:block;
	overflow:hidden;
/*	border:2px solid #fff;*/
	padding-bottom:10px;
}
.seotoaster .header {
	background-color:#666;
	color:#eee;
	padding:8px;
	margin-bottom:10px;
	-moz-border-radius: 8px 8px 0px 0px;
	-webkit-border-radius: 8px 8px 0px 0px;
}
.seotoaster .closebutton {
	background-color: #444444;
	color: #FFFFFF;
	cursor:pointer;
	font-weight: bold;
	padding: 6px 10px 8px 20px;
	position: absolute;
	right: 0;
	top: 0;
	-moz-border-radius:0px 8px 0px 8px;
	-webkit-border-radius:0px 8px 0px 8px;
}

.seotoaster .items-list {
	background: #fff;
	color: #21759B;
}

.seotoaster .items-list .list-row {
	border-bottom: 1px solid #ddd;
	overflow: hidden;
}

.seotoaster .items-list .list-row .list-row-item {
	padding: 7px 0px 0px;
	font-size: 12px;
	overflow: hidden;
}

.seotoaster .closebutton:hover { background-color: #999; }
.seotoaster .red { color:red; }
/*==== Links ========*/
.seotoaster a {
	color:#3C78A7;
	text-decoration:none;
}
.seotoaster .header a {
	color:#e7e7e7;
	border-bottom:1px dashed #ccc;
}
.seotoaster .header a:hover { border-bottom:1px dashed #eee; }
.seotoaster a:hover { }
.seotoaster a:visited { }
.seotoaster a:active { }
/*Logo style*/
/*====== Headers ======= */
.seotoaster h1, .seotoaster h2, .seotoaster h3, .seotoaster h4, .seotoaster h5, .seotoaster h6 { font-weight:bold; }
.seotoaster h1 { font-size:22px; }
.seotoaster h2 {
	font:normal 27px;
	margin-bottom:10px;
}
.seotoaster h3 {
	color:#4c4c4c;
	font-size:14px;
	font-weight:bold;
	padding:8px 2px 2px;
}
.seotoaster h4 { font-size:16px; }
.seotoaster h5 { font-size:14px; }
.seotoaster h6 { font-size:13px; }
.seotoaster h7 { font-size:12px; }
/*====== Listings ======= */
.seotoaster ul { margin:10px 20px; }
.seotoaster ul li { list-style:square; }
.seotoaster ol { padding:10px; }
.seotoaster ol li { list-style:decimal-leading-zero; }
/*========= Formats ===========*/
.seotoaster p { /*line-height:1.5em;*/ }
.seotoaster blockquote { }
.seotoaster address { }
/*=========== Forms ==========*/
/*.seotoaster form { overflow:hidden; }*/
.seotoaster fieldset {
	background:#fff;
	background:url('/system/images/bg-strip.png');
	padding:10px;
	position:relative;
	margin-bottom:7px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	overflow:hidden;
	font-size:11pt;
}
.seotoaster legend {
	background:#888;
	color:#eee;
	font-size:12pt;
	font-weight:bold;
	padding:4px 20px;
	text-transform:uppercase;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}
.seotoaster label, .seotoaster .label {
	background-color:#EAF3FA;
	color:#666;
	display:block;
	font-weight:bold;
	padding:7px 0px;
	text-indent:5px;
	font-size: 14px;
}

.seotoaster label.simple-label {
	display: inline;
}

.seotoaster input[type=text], .seotoaster input[type=password], .seotoaster textarea, .seotoaster select {
/*	color:#960;*/
	color: #666;
	border:1px solid #d9d9d9;
/*	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;*/
	padding: 8px 5px;
/*	text-indent:8px;*/
	width:98%;
	background: #fff;
	margin: 3px 0px;
/*	font-weight:600;*/
	font-size:15px;
}

.seotoaster input[type=submit] {
	background:#7C7C7C;
	color:#eee;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:2px solid #fff;
	cursor:pointer;
	float:right;
	font-size:14pt;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	color:#eee;
	padding:2px 20px;
	margin-right:5px;
}
.seotoaster input[type=submit]:hover {
	background-color: #8FD5EB;
	color: #FFFFFF;
}
.seotoaster dl { }
.seotoaster dt { }
.seotoaster dt:after { }
.seotoaster dd { }
/*=========== Tabs ========================*/
.seotoaster .tabs {
	background: url('/system/images/bg-strip.png') !important;
	height: 535px;
}

.seotoaster ul.tabs {
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	width: 100%;
	margin-bottom:10px;
}
.seotoaster ul.tabs li {
/*	background: #e0e0e0;*/
	float: left;
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
	border-left: none;
	margin-bottom: -1px;
	overflow: hidden;
	position: relative;
}
.seotoaster ul.tabs li a {
	color: #000;
	border: 1px solid #fff;
	text-decoration: none;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	outline: none;
}
.seotoaster ul.tabs li a:hover { background: #ccc; }
.seotoaster ul.tabs li.active, .seotoaster ul.tabs li.active a:hover {
	background: #fff;
	border-bottom: 1px solid #fff;
}
/*========== Options Vertical Tabs =======*/
.seotoaster ul.tab_options {
	border-bottom: 1px solid #999;
	border-left: none;
	margin: 0;
	padding: 0;
	list-style: none;
	height: 32px;
	margin-bottom:10px;
}
.seotoaster ul.tab_options li {
	background: #eee;
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
	border-left: none;
	margin-bottom: -1px;
	overflow: hidden;
	position: relative;
}
.seotoaster ul.tab_options li a {
	color: #000;
	border: 1px solid #fff;
	text-decoration: none;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	outline: none;
}
.seotoaster ul.tab_options li a:hover { background: #ccc; }
.seotoaster ul.tab_options li.active, .seotoaster ul.tabs li.active a:hover {
	background: #fff;
	border-bottom: 1px solid #fff;
}
.seotoaster .tab_options_content {
	height:400px;
	background: #fff;
	padding:5px 0px 0px 10px;
}
/*================ categories in shopping -----------*/
.seotoaster #groups * {
	float:left;
	white-space:nowrap;
}
.seotoaster #groups div {
	background-color:#EAF3FA;
	display:block;
	width:auto;
	margin:5px;
	border-bottom:1px dashed #eee;
	padding:6px 10px 6px 0px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}
.seotoaster #groups div img { margin-top:2px; }
/*========= side Control Panel ===========*/
.seotoaster#seotoaster-cpanel {
	background:#fff;
	position:absolute;
	right:5px;
	top:0;
	z-index:1000;
	border: none;
	padding-bottom: 0px;
	-moz-border-radius: 0px 0px 8px 8px;
	-webkit-border-radius: 0px 0px 8px 8px;
	border-radius: 0px 0px 8px 8px;
	box-shadow: 0px 0px 10px #444444;
	-moz-box-shadow: 0px 0px 10px #444444;
	-webkit-box-shadow: 0px 0px 10px #444444;
}
.seotoaster#seotoaster-cpanel #showhide a {
	background-color:#6D6D6D;
	color:#eee;
	font-size:12pt;
	padding:5px;
	text-align:center;
	display:block;
}
.seotoaster#seotoaster-cpanel ul {
	margin:0;
	padding:0;
	border:none;
}
.seotoaster#seotoaster-cpanel ul li { list-style:none;}
.seotoaster#seotoaster-cpanel ul li a {
	background:#6D6D6D;
	color:#eee;
	font-weight:bold;
	font-size:13pt;
	padding:3px 5px;
	border: none;
	border-bottom:1px solid #fff;
	display:block;
	border-radius: 0px;
	margin-top: 0px;
	text-decoration: none;
}
.seotoaster#seotoaster-cpanel ul li ul li a {
	background-color:#fff;
	color:#21759B;
	font-size:11pt;
	border-bottom:1px solid #ddd;
	padding:2px 4px;
}
.seotoaster#seotoaster-cpanel ul li ul li a:hover { color: #E66F00; background-color:#E2F2FA; }

.seotoaster#seotoaster-cpanel ul li ul li.cpanelsubtitle {
 background-color: #E1E1E1;
 color: #3C3C3C;
 font-size: 11pt;
 font-weight: bold;
 border-bottom: none;
 padding: 2px 0px 2px 4px;
 width:196px;
}

.seotoaster#seotoaster-cpanel ul li{
	list-style: none;
	width: 200px;
	margin: 0px;
}

#seotoaster-logowrap {
	background:#fff;
	text-align:center;
}
#seotoaster-logowrap img { max-width:200px; }



/*========= EDIT CONTENT ===========*/

.seotoaster #content {
	height: 560px;
}

.seotoaster #content.header-content {
	height: 20px;
}

.seotoaster #btn-submit {
	position: absolute;
	bottom: 5px;
	right: 3px;
}

.seotoaster div.header label { /*publish or not form in header*/
	color: #ececec;
	background-color:#666;
	float:left;
	padding:0px 8px;
}
.seotoaster div.header input[type=text] {
	font-size:10pt;
	padding: 1px 0px;
	margin:0;
}

.seotoaster .above-editor-links #links {
	padding: 0px 0px 5px 0px;
}

.seotoaster .above-editor-links #links a {
	text-transform: uppercase;
	font-size: 10px;
	color: #555;
}

.seotoaster .above-editor-links {
	color:#555;
	font-size:11pt;
/*	text-align:right;*/
}
.seotoaster textarea#editcontent {
	margin:0;
	padding:5px;
	height:100%;
}

.seotoaster div#tabs {
	font-size: 14px;
	padding: 0px;
	height: 555px;
}

.seotoaster div#tabs div.ui-tabs-panel {
	padding: 5px 10px !important;
}

.seotoaster div#tabs #adminthingsviewer div.button {
	border-radius: 0px;
	padding: 5px 5px 5px 25px;
}


.seotoaster div#tabs #adminthingsviewer div.show_div {
	background: #cecece;
	padding: 10px 3px 5px 3px;
	max-height: 210px;
	overflow-y: scroll;
}

.seotoaster ul.editortabs {
	margin:0;
	padding:0;
}
.seotoaster ul.editortabs li {
	background-color:#eee;
	float:left;
	list-style:none;
	padding:2px 5px 2px 5px;
	border-right:1px solid #999;
	border-top:1px solid #fff;
}
.seotoaster ul.editortabs li a {
	font-size:10pt;
	color:#666;
	font-weight:bold;
}
.seotoaster ul.editortabs li:hover { background: #fff; }
.seotoaster ul.editortabs li.active {
	background: #fff;
	border-bottom: 1px solid #fff;
}

/*========= WIDGET MAKER =================*/

.seotoaster div#tabs #adminthingsviewer div.show_div#widgets_maker {
	background: #fff;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
}

.seotoaster div#tabs #adminthingsviewer div.show_div#widgets_maker .wmc-block {
	overflow: hidden;
	min-height: 100px;
	margin-bottom: 10px;
}

.seotoaster div#tabs #adminthingsviewer div.show_div#widgets_maker .wmc-block .wmc-row {
	overflow: hidden;
	min-height: 25px;
}

.seotoaster div#tabs #adminthingsviewer div.show_div#widgets_maker .wmc-label,
.seotoaster div#tabs #adminthingsviewer div.show_div#widgets_maker .wmc-label-flat {
	float: left;
	width: 110px;
	font-size: 12px;
	margin: 3px;
	padding: 7px 4px;
}

.seotoaster div#tabs #adminthingsviewer div.show_div#widgets_maker .wmc-label-flat {
	float: none;
	width: 100%;
}

.seotoaster div#tabs #adminthingsviewer div.show_div#widgets_maker .wmc-input,
.seotoaster div#tabs #adminthingsviewer div.show_div#widgets_maker .wmc-input-flat {
	font-size: 12px;
	float: left;
	width: 125px;
	padding: 5px 4px;
/*	margin-right: 3px;*/
}

.seotoaster div#tabs #adminthingsviewer div.show_div#widgets_maker select.wmc-input {
	width: 134px;
}

.seotoaster div#tabs #adminthingsviewer div.show_div#widgets_maker .wmc-input-flat {
	float: none;
	width: 98%;
}

.seotoaster div#tabs #adminthingsviewer div.show_div#widgets_maker input.wmc-input[type=checkbox] {
	margin-top: 10px;
}

.seotoaster div#tabs #adminthingsviewer div.show_div#widgets_maker .wmc-submit {
	background: none repeat scroll 0 0 #7C7C7C;
    border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
    color: #EEEEEE;
    cursor: pointer;
    font-size: 14px;
	border: none;
    font-weight: bold;
    padding: 2px 20px;
}

.seotoaster div#tabs #adminthingsviewer div.show_div#widgets_maker h3 {
	padding: 8px;
	background: #666;
	color: #fff;
}

.seotoaster div#tabs #adminthingsviewer div.show_div#widgets_maker .wmc-error {
	border: 1px solid #ff0000;
}

/*========= AND AND EDIT TEMPLATE ===========*/
.seotoaster div#templatelist {
	position: absolute;
	background-color: #BDE6F1;
}
.seotoaster div#templatelist div.template_preview {
	position: relative;
}
.seotoaster div#templatelist div.template_preview {
	border: 1px solid #000;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	text-align: center;
	cursor: pointer;
	margin: 2px 0 3px;
}
.seotoaster div#templatelist div.template_preview .template_delete {
	display: inline;
}
.seotoaster div#templatelist div.template_preview .template_name {
	line-height: 30px;
	background-color: #666666;
    color: #FFFFFF;
    margin: 0 0 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-icab-text-overflow: ellipsis;
	-khtml-text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.seotoaster div#templatelist div.template_preview .template_name:hover {
	-o-text-overflow: inherit;
    text-overflow: inherit;
    overflow: visible;
}
.seotoaster div.largebutton{
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
/*	background-color:#690;*/
	background: #21759B;
	text-align:center;
}
.seotoaster div.largebutton:hover{
/*	background-color:#6C3;*/
	background-color:#E66F00;
}
.seotoaster div.largebutton a{
	color:#fff;
	font-weight:bold;
	display:block;
	padding:20px 10px;

}


.seotoaster .red { background-color:red; }
.seotoaster .blue { background-color:blue; }

/*=========== Organize Pages ==============*/
.seotoaster span.catmove {
	position:relative;
	text-indent:3px;
	padding:2px;
	display:block;
	overflow:hidden;
	white-space:nowrap;
	-moz-border-radius:0px 4px 0px 0px;
	-webkit-border-radius:0px 4px 0px 0px;
	border-radius:0px 4px 0px 0px;
}
.seotoaster span div.cat-tools {
	position:absolute;
	right:0px;
	top:0px;
	height:100%;
	padding:2px 4px 6px 2px;
	border-left:4px solid #fff;
	background:#fff;
	vertical-align:middle;
	background:url(../images/bg-strip.png);
	-moz-border-radius:0px 4px 0px 0px;
	-webkit-border-radius:0px 4px 0px 0px;
	border-radius:0px 4px 0px 0px;
}
.seotoaster span div.cat-tools span.ranking {
	color:#fff;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	padding:1px 2px;
	margin:0px 5px 0px 0px;
	background:#FC0;
}
.seotoaster ul.organise {
	font-size:11pt;
	margin:0;
	height:210px;
	overflow:auto;
	background:url(../images/bg-strip.png);
	padding:0px 0px 2px 2px;
	border-bottom:8px solid #EAF3FA;
}
.seotoaster ul.organise li {
	border-bottom: 1px dashed #ddd;
	padding:2px 0px;
	text-indent:4px;
}
.seotoaster div.move {
	margin:0px 2px 0px 2px;
	float:left;
	display:block;
	width:6px;
	height:14px;
	background: url("../images/move-pages.png") no-repeat 0px 0px transparent;
	cursor: url("../images/openhand.cur"), default;
}
.seotoaster ul.organise li input {
	-webkit-appearance: checkbox;
	box-sizing: border-box;
	vertical-align: middle;
	margin: -4px 3px 0 0px;
}


/*============= Theme Box ==============*/
.seotoaster div.themebox {-moz-border-radius:8px;-webkit-border-radius:8px;-moz-box-shadow:0px 0px 4px #ccc;-webkit-box-shadow:0px 0px 3px #ccc;}
.seotoaster .themebox img.preview {
	width:100%;
	height:170px;
}
.seotoaster div.themebox span.label {
 -moz-border-radius:8px 8px 0px 0px;
 -webkit-border-radius:8px 8px 0px 0px;
 border-radius:8px 8px 0px 0px;
}
.seotoaster div.themebox label {
	 -moz-border-radius: 0px 0px 8px 8px;
	 -webkit-border-radius: 0px 0px 8px 8px;
	 border-radius: 0px 0px 8px 8px;
}

.seotoaster .themebox span div.cat-tools {
	background-image:none;
	background-color:#fff;
	padding:0px;
	overflow:hidden;
	border:none;
	-moz-border-radius:4px 8px 0px 4px;
	-webkit-border-radius:4px 8px 0px 4px;
	position: absolute;
	top: 0;
	right: 0;
}

.seotoaster .themebox .theme-delete img {
	margin: 7px 6px;
}

/*============= Add/Edit 301 ==============*/
.seotoaster #redirects-list {
	overflow-y: scroll;
	height: 377px;
	font-size: 12px;
	font-family: Arial;
	margin-bottom: 6px;
	background: #EAF3FA;
	width: 940px;
}

.seotoaster #redirect-title {
	margin-top: 35px;
}



.seotoaster #domain-toggle, .seotoaster #domain-toggle-deeplinks {
	text-decoration: none;
	border-bottom: 1px dashed #736D6D;
	position: absolute;
	top: 52px;
	font-size: 14px;
	left: 590px;
}

.seotoaster #domain-toggle-deeplinks {
	top: 53px;
	left: 623px;
}

.seotoaster #redirects-list .redirect-row {
	overflow: hidden;
	border-bottom: 1px dashed #fff;
	padding: 12px 0px 0px 0px;
}

.seotoaster #redirects-list .redirect-row:hover {
	background: #f9f9f9;
	cursor: pointer;
}

.seotoaster #redirects-list .redirect-row p {
	float: left;
	margin-right: 10px;
	color: #7c7c7c;
}

/*============= Add/Edit Deeplinks ==============*/

.seotoaster #deeplinks-list {
	overflow-y: scroll;
	height: 345px;
	font-size: 12px;
	font-family: Arial;
	margin-bottom: 6px;
	background: #EAF3FA;
	width: 940px;
}

.seotoaster #deeplinks-list .deeplink-row {
	overflow: hidden;
	border-bottom: 1px dashed #fff;
/*	margin: 10px 0px;*/
	padding: 12px 0px 0px 0px;
}

.seotoaster #deeplinks-list .deeplink-row:hover {
	cursor: pointer;
	background: #f9f9f9;
}


.seotoaster #deeplinks-list .deeplink-row p {
	float: left;
	margin-right: 10px;
	color: #7c7c7c;
}

.seotoaster #table-header {
	font-size: 15px;
	font-weight: bold;
	margin-top: 25px;
}


/*============= Plugins ==============*/

.seotoaster #plugins-list {
	overflow: hidden;
}

.seotoaster #plugins-list .plugin-item {
	float: left;
	margin: 5px;
	box-shadow: 0px 0px 5px #999;
	-moz-box-shadow: 0px 0px 5px #999;
	-web-box-shadow: 0px 0px 5px #999;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 0px 0px 5px;
	position: relative;
}

.seotoaster #plugins-list .plugin-item .del-plugin {
/*	display: none;*/
	position: absolute;
	right: 0px;
}

.seotoaster #upload-plugin {
	height: 100px;
	border-bottom: 1px dashed #fff;
}

.seotoaster #plugins-list .plugin-item .del-plugin img {
	background: #fff;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
}

.seotoaster #plugins-list .plugin-item .plugin-image {
	overflow: hidden;
	height: 220px;
	width: 180px;
	padding: 4px;
}

.seotoaster #plugins-list .plugin-item .plugin-name {
	color: #21759B;
	font-weight: bold;
	background: #fff;
	padding: 5px;
	margin-bottom: 5px;
}

.seotoaster #plugins-list .plugin-item .plugin-control, .seotoaster #plugins-list .plugin-item .plugin-endis {
	font-size: 14px;
	margin-left: 5px;
}

/*============= Manage users ==============*/

.seotoaster #add-user {
	margin-bottom: 20px;
}

.seotoaster #users-list {
	background: #fff;
	color: #21759B;
}

.seotoaster #users-list .user-row {
	border-bottom: 1px solid #ddd;
}

.seotoaster #users-list .user-row .user-row-item {
	padding: 7px 0px 0px;
	font-size: 12px;
	overflow: hidden;
}

/*========== Upload form for page=======*/
#page-teaser-uploader {
	position: absolute;
	bottom: 50px;
	right: 350px;
}