.reset-style,
.reset-style * {
  float: none;
  width: auto;
  height: auto;
  background: transparent;
  border: 0 none;
  color: inherit;
  font-family: Arial, Helvetica, "Helvetica Neue", sans-serif;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  position: static;
  padding: 0;
  vertical-align: baseline;
  box-shadow: none;
  border-radius: 0;
  -webkit-transition: none 0.5s ease;
  transition: none 0.5s ease;
}
.reset-style:hover,
.reset-style *:hover,
.reset-style:focus,
.reset-style *:focus {
  box-shadow: none;
}
.unpublished {
  border: 1px dashed #E74C3C;
}
.container-wrapper {
  padding: 4px;
}
.container-wrapper:hover {
  outline: 1px dashed #666;
}
.generator-links img,
.tpopup img {
  width: auto !important;
  height: auto !important;
  border: none !important;
  min-width: 0 !important;
  min-height: 0 !important;
  box-shadow: none !important;
}
a.generator-links.plugin {
  font-family: Arial, Helvetica, "Helvetica Neue", sans-serif;
  background: url('../../system/images/editadd-plugin.png') no-repeat #F68B0E left center !important;
  border: 1px solid #333 !important;
  padding: 3px 3px 3px 20px !important;
  font-size: 12px !important;
  text-decoration: none !important;
  color: #000 !important;
  font-weight: bold !important;
}
.ui-helper-hidden,
.hidden {
  display: none;
}
.ui-widget-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.ui-widget-overlay ~ .ui-widget-overlay {
  display: none;
}
[aria-describedby="toasterPopup"] {
  max-width: none !important;
  border: none !important;
  padding: 0 !important;
  line-height: 0 !important;
  position: fixed !important;
  z-index: 1002 !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  margin: auto !important;
  font-size: 14px;
  box-shadow: 3px 3px 10px #000;
}
[aria-describedby="toasterPopup"] iframe {
  background-image: url("../images/spinner.gif");
  background-position: center center;
  background-repeat: no-repeat;
}
[aria-describedby="toasterPopup"].screen-expand {
  height: 98% !important;
  min-width: 960px;
}
.ui-overlay + .ui-widget-content {
  background: #FFF;
  z-index: 1001;
  box-shadow: 3px 3px 10px #000;
}
.seotoaster-panel {
  background-color: #202123;
  color: #999999;
  font: 14px/1.5 Arial, Helvetica, "Helvetica Neue", sans-serif;
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  /* reset styles */
}
.seotoaster-panel a,
.seotoaster-panel a:hover {
  text-decoration: none;
}
.seotoaster-panel ul,
.seotoaster-panel li {
  list-style-type: none;
}
.seotoaster-panel ul {
  margin: 0;
  padding: 0;
}
.seotoaster-panel.aside {
  width: 65px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1001;
}
.seotoaster-panel.aside:hover {
  z-index: 1005;
}
.seotoaster-panel .show-hide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  background-color: #0f0f10;
  cursor: pointer;
  bottom: 0;
  left: 0;
  font-size: 16px;
  height: 30px;
}
.seotoaster-panel.p-show {
  height: 100%;
}
.seotoaster-panel.p-hide {
  height: 95px;
  overflow: hidden;
}
.seotoaster-panel.p-hide .show-hide {
  position: absolute;
}
.seotoaster-panel .logo-icon {
  background-color: #202123;
  color: #515358;
  font-size: 34px;
  text-align: center;
  line-height: 65px;
  display: block;
  height: 65px;
  cursor: default;
}
.seotoaster-panel .section-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  position: static;
  background-color: #202123;
}
.seotoaster-panel .section-list:nth-of-type(1) {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.seotoaster-panel .section-list:nth-of-type(2) {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
.seotoaster-panel .section-list .section {
  margin: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 65px;
  -ms-flex: 0 1 65px;
  flex: 0 1 65px;
}
.seotoaster-panel .section-list .section:hover .section-btn {
  background-color: #000000;
  color: #bfbfbf;
}
.seotoaster-panel .section-list .section.active .section-btn {
  background-color: #673AB7;
  color: #FFFFFF;
}
.seotoaster-panel .section-list .section.active .section-wrap {
  right: 65px;
  opacity: 1;
}
.seotoaster-panel .section-list .section.under_empty {
  margin-bottom: 32.5px;
}
.seotoaster-panel .section-list .section.over_empty {
  margin-top: 32.5px;
}
.seotoaster-panel .section-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 65px;
  text-align: center;
  font-size: 18px;
  color: inherit;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.seotoaster-panel .section-btn:before {
  vertical-align: middle;
}
.seotoaster-panel .section-wrap {
  background-color: #FFFFFF;
  opacity: 0;
  height: 100%;
  width: 240px;
  margin: 0;
  position: absolute;
  right: -260px;
  top: 0;
  z-index: -1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}
.seotoaster-panel .section-wrap .section-box {
  padding: 0 20px;
  height: 100%;
  overflow-y: scroll;
  position: relative;
  margin-right: -18px;
}
.seotoaster-panel .section-wrap:after {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  left: 0;
  height: 60px;
  content: "";
  pointer-events: none;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0icmdiKDI1NSwgMjU1LCAyNTUpIiBzdG9wLW9wYWNpdHk9IjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}
.seotoaster-panel .section-title {
  color: #9198a7;
  line-height: 65px;
  font-weight: bold;
  display: block;
}
.seotoaster-panel .category-list {
  padding: 0 0 10px;
  list-style-type: none;
  margin: 0;
  font-size: 14px;
}
.seotoaster-panel .category-list + .category-list {
  padding-top: 10px;
  border-top: 1px solid #ededed;
}
.seotoaster-panel .category-list:last-child {
  margin-bottom: 60px;
}
.seotoaster-panel .category-list > li {
  margin: 0;
}
.seotoaster-panel .category-list > li.title {
  color: #5C6779;
  margin-bottom: 10px;
  font-weight: bold;
}
.seotoaster-panel .category-list > li.title ~ .title:not(.item) {
  color: #A9B0BA;
}
.seotoaster-panel .category-list > li.description {
  font-size: 0.95em;
  margin-bottom: 10px;
}
.seotoaster-panel .category-list > li > a {
  color: #999999;
  padding: 7px 14px;
  display: block;
  border-radius: 3px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.seotoaster-panel .category-list > li > a:hover {
  background-color: #f2f2f2;
  color: #808080;
}
.seotoaster-panel .category-list > li > a.error {
  color: #E74C3C;
}
.seotoaster-panel [data-tooltip-title]::before {
  opacity: 0;
  content: attr(data-tooltip-title);
  background-color: #000000;
  color: #FFFFFF;
  padding: 8px 12px;
  line-height: 1;
  pointer-events: none;
  position: absolute;
  right: calc(100% + 6px);
  -webkit-transform: translate(0, 19px);
  -ms-transform: translate(0, 19px);
  transform: translate(0, 19px);
  white-space: nowrap;
  font-size: 12px;
  letter-spacing: 0.025em;
  border-radius: 2px;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.seotoaster-panel [data-tooltip-title] .section-btn,
.seotoaster-panel [data-tooltip-title] .logo-icon {
  position: relative;
}
.seotoaster-panel [data-tooltip-title] .section-btn::after,
.seotoaster-panel [data-tooltip-title] .logo-icon::after {
  opacity: 0;
  position: absolute;
  right: 104%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  pointer-events: none;
  content: "";
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #000000;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.seotoaster-panel [data-tooltip-title]:hover:not(.active)::before,
.seotoaster-panel [data-tooltip-title]:hover:not(.active) .section-btn::after,
.seotoaster-panel [data-tooltip-title]:hover:not(.active) .logo-icon::after {
  opacity: 1;
}
.seotoaster-panel ._i-logo:before {
  content: "\e054";
}
.seotoaster-panel ._i-editing:before {
  content: "\e901";
}
.seotoaster-panel ._i-marketing-seo:before {
  content: "\e15d";
}
.seotoaster-panel ._i-plugins:before {
  content: "\e1c0";
}
.seotoaster-panel ._i-store:before {
  content: "\e09f";
}
.seotoaster-panel ._i-setup:before {
  content: "\e140";
}
.seotoaster-panel ._i-notification:before {
  content: "\e0ee";
}
.seotoaster-panel ._i-loading:before {
  content: "\e112";
}
.seotoaster-panel ._i-crm:before {
  content: "\e09a";
}
.seotoaster-panel ._i-website-id-card:before {
  content: "\e902";
}
.seotoaster-panel ._i-blog-and-news:before {
  content: "\e903";
}
.seotoaster-panel ._i-refresh:before {
  content: "";
  width: 16px;
  height: 16px;
  background: url('../../system/images/spin.svg') no-repeat scroll transparent;
  background-size: contain;
}
.seotoaster-panel ._i-exit:before {
  content: "\e904";
}
.seotoaster-panel ._i-panel-hide:before {
  content: "\e018";
}
.seotoaster-panel ._i-panel-show:before {
  content: "\e01b";
}
@media only screen and (max-height: 780px) {
  .seotoaster-panel .section-list .section {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 50px;
    -ms-flex: 0 1 50px;
    flex: 0 1 50px;
  }
  .seotoaster-panel .section-list .section[data-tooltip-title]::before {
    -webkit-transform: translate(0, 11px);
    -ms-transform: translate(0, 11px);
    transform: translate(0, 11px);
  }
  .seotoaster-panel .section-list .section-btn {
    height: 50px;
  }
}
.ui-tooltip.panel-info {
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 2px;
  padding: 4px 12px;
}
.ui-tooltip.panel-info .arrow {
  border-right-color: #000000;
  border-width: 4px;
}
#cleancache {
  -webkit-transition: transform 0.25s ease;
  transition: transform 0.25s ease;
  background-color: transparent;
}
#cleancache img {
  pointer-events: none;
}
#cleancache.run::before {
  -webkit-transform: scale(1.65);
  -ms-transform: scale(1.65);
  transform: scale(1.65);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 50ms;
  animation-duration: 50ms;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}
#cleancache.run::before.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(-360deg);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(0);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
  100% {
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
}
#cleancache.run:hover {
  background-color: transparent !important;
}
