a {
  color: #59a5c3;
  text-decoration: none;
}
a:hover {
  color: #377d98;
}
a:active {
  color: #377d98;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  color: #4c4c4c;
  font-weight: bold;
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
.h1:first-child,
.h2:first-child,
.h3:first-child,
.h4:first-child,
.h5:first-child,
.h6:first-child {
  margin-top: 0;
}
.slide .description h1,
.slide .description h2,
.slide .description h3,
.slide .description h4,
.slide .description h5,
.slide .description h6,
.slide .description .h1,
.slide .description .h2,
.slide .description .h3,
.slide .description .h4,
.slide .description .h5,
.slide .description .h6 {
  color: #fafafa;
}
footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6,
footer .h1,
footer .h2,
footer .h3,
footer .h4,
footer .h5,
footer .h6 {
  color: #fafafa;
}
h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty,
.h1:empty,
.h2:empty,
.h3:empty,
.h4:empty,
.h5:empty,
.h6:empty {
  display: none;
}
h1,
.h1 {
  font-size: 2em;
}
h2,
.h2 {
  font-size: 1.5em;
}
h3,
.h3 {
  font-size: 1.25em;
}
h4,
.h4 {
  font-size: 1em;
}
h5,
.h5 {
  font-size: 0.875em;
}
h6,
.h6 {
  font-size: 0.75em;
}
.subheader {
  color: #666666;
  font-size: 0.85em;
}
p + p {
  margin-top: 1.5em;
}
p img {
  margin: 0;
}
.gray-darker {
  color: #111111;
}
.gray-dark {
  color: #333333;
}
.gray {
  color: #666666;
}
.gray-light {
  color: #eaeaea;
}
.gray-lighter {
  color: #fafafa;
}
.gray-darker-bg {
  background: #111111;
}
.gray-dark-bg {
  background: #333333;
}
.gray-bg {
  background: #666666;
}
.gray-light-bg {
  background: #eaeaea;
}
.gray-lighter-bg {
  background: #fafafa;
}
.primary {
  color: #31b0d5;
}
a.primary:hover {
  color: #1f7e9a;
}
.success {
  color: #2ecc71;
}
a.success:hover {
  color: #208e4e;
}
.warning {
  color: #e67e22;
}
a.warning:hover {
  color: #a85913;
}
.error {
  color: #e74c3c;
}
a.error:hover {
  color: #bf2718;
}
.info {
  color: #3498db;
}
a.info:hover {
  color: #1d6fa5;
}
.larger {
  font-size: 1.5em;
}
.large {
  font-size: 1.25em;
}
.small {
  font-size: 0.85em;
}
.mini {
  font-size: 0.75em;
}
blockquote,
.blockquote,
.seo-tip {
  font-size: 14px;
  color: #666666;
  font-style: italic;
  background: #fafafa;
  margin-bottom: 1.5em;
  padding: 0.75em 1.5em;
  border-left: 3px solid #666666;
}
blockquote p,
.blockquote p,
.seo-tip p,
blockquote ul,
.blockquote ul,
.seo-tip ul,
blockquote ol,
.blockquote ol,
.seo-tip ol {
  margin: 0;
}
blockquote p + p,
.blockquote p + p,
.seo-tip p + p,
blockquote ul + p,
.blockquote ul + p,
.seo-tip ul + p,
blockquote ol + p,
.blockquote ol + p,
.seo-tip ol + p,
blockquote p + ul,
.blockquote p + ul,
.seo-tip p + ul,
blockquote ul + ul,
.blockquote ul + ul,
.seo-tip ul + ul,
blockquote ol + ul,
.blockquote ol + ul,
.seo-tip ol + ul,
blockquote p + ol,
.blockquote p + ol,
.seo-tip p + ol,
blockquote ul + ol,
.blockquote ul + ol,
.seo-tip ul + ol,
blockquote ol + ol,
.blockquote ol + ol,
.seo-tip ol + ol {
  margin-top: 0.5em;
}
blockquote li,
.blockquote li,
.seo-tip li {
  margin-left: 1em;
  margin-bottom: 0;
}
blockquote li + li,
.blockquote li + li,
.seo-tip li + li {
  margin-top: 0.5em;
}
blockquote.success,
.blockquote.success,
.seo-tip.success {
  background-color: #d8efc1;
  border-color: #b4d892;
  color: #79985b;
}
blockquote.success hr,
.blockquote.success hr,
.seo-tip.success hr {
  background: #a7d17f;
}
blockquote.success a,
.blockquote.success a,
.seo-tip.success a {
  color: #607848;
}
blockquote.warning,
.blockquote.warning,
.seo-tip.warning {
  background-color: #feebb7;
  border-color: #e7d195;
  color: #b49133;
}
blockquote.warning hr,
.blockquote.warning hr,
.seo-tip.warning hr {
  background: #e2c880;
}
blockquote.warning a,
.blockquote.warning a,
.seo-tip.warning a {
  color: #8c7128;
}
blockquote.error,
.blockquote.error,
.seo-tip.error {
  background-color: #f9bcc3;
  border-color: #f09da7;
  color: #b76973;
}
blockquote.error hr,
.blockquote.error hr,
.seo-tip.error hr {
  background: #ed8793;
}
blockquote.error a,
.blockquote.error a,
.seo-tip.error a {
  color: #a04d58;
}
blockquote.info,
.blockquote.info,
.seo-tip.info {
  background-color: #b8e1f1;
  border-color: #a1c7d5;
  color: #52889b;
}
blockquote.info hr,
.blockquote.info hr,
.seo-tip.info hr {
  background: #8fbdcd;
}
blockquote.info a,
.blockquote.info a,
.seo-tip.info a {
  color: #406b7a;
}
ul,
ol {
  margin-bottom: 1.5em;
  padding-left: 2.5em;
}
ul ol,
ol ol,
ul ul,
ol ul {
  margin: 0.3em 0 1em;
  font-size: 0.9em;
}
ul li,
ol li {
  margin-bottom: 0.3em;
}
ul.list-unstyled,
ol.list-unstyled {
  list-style-type: none;
  padding-left: 0;
}
ul.list-inline,
ol.list-inline {
  list-style-type: none;
  padding-left: 0;
}
ul.list-inline > li,
ol.list-inline > li {
  display: inline-block;
  vertical-align: top;
  margin: 0 0.5em;
}
ul.list-bordered,
ol.list-bordered {
  list-style-type: none;
  padding-left: 0;
}
ul.list-bordered > li,
ol.list-bordered > li {
  border-bottom: 1px dashed #eaeaea;
  margin: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  position: relative;
}
ul.list-bordered > li[class*='active']:before,
ol.list-bordered > li[class*='active']:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-color: transparent #666666;
}
ul.list-bordered a,
ol.list-bordered a {
  color: inherit;
  text-decoration: underline;
}
ul.list-bordered a:hover,
ol.list-bordered a:hover {
  text-decoration: none;
}
ul.list-tags,
ol.list-tags {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}
ul.list-tags > li,
ol.list-tags > li {
  margin: 2px 0 0;
  padding: 4px 6px;
  background: #eaeaea;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
ul.list-tags > li:hover,
ol.list-tags > li:hover,
ul.list-tags > li.active,
ol.list-tags > li.active,
ul.list-tags > li.tag-current,
ol.list-tags > li.tag-current {
  background: #d1d1d1;
}
ul.list-tags > li.disabled,
ol.list-tags > li.disabled {
  cursor: default;
  background: #fafafa;
  color: #d1d1d1;
}
ul.list-tags > li [class*="icon-"].fl-right,
ol.list-tags > li [class*="icon-"].fl-right {
  margin-top: 0.15em;
}
ul.list-tags > li [class*="remove"],
ol.list-tags > li [class*="remove"],
ul.list-tags > li [class*="close"],
ol.list-tags > li [class*="close"] {
  font-size: 0.85em;
}
ul.list-tags.list-inline > li,
ol.list-tags.list-inline > li {
  margin: 2px 2px 0;
}
ul.list-tags:not(.list-inline) > li:first-child,
ol.list-tags:not(.list-inline) > li:first-child {
  margin-top: 0;
}
ul.list-arrow,
ol.list-arrow {
  list-style-type: none;
  padding-left: 0;
}
ul.list-arrow > li,
ol.list-arrow > li {
  padding-left: 1em;
}
ul.list-arrow > li:before,
ol.list-arrow > li:before {
  vertical-align: top;
  color: inherit;
  content: '>';
  margin-left: -1em;
  font-family: 'toaster-icons';
  content: '\e0c3';
}
ul.list-arrow > li:hover:before,
ol.list-arrow > li:hover:before {
  color: #31b0d5;
}
ul.list-count-sign,
ol.list-count-sign {
  list-style-type: none;
  counter-reset: list;
  padding-left: 0;
}
ul.list-count-sign > li,
ol.list-count-sign > li {
  margin-bottom: 0.5em;
  padding-left: 3em;
  line-height: 2em;
}
ul.list-count-sign > li:before,
ol.list-count-sign > li:before {
  display: inline-block;
  vertical-align: middle;
  counter-increment: list;
  content: counter(list);
  width: 2em;
  height: 2em;
  text-align: center;
  background-color: #fafafa;
  margin-left: -3em;
  margin-right: 1em;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  -ms-border-radius: 10em;
  border-radius: 10em;
}
ul.list-count-sign > li:hover:before,
ol.list-count-sign > li:hover:before {
  background: #31b0d5;
  color: #ffffff;
}
ul.list-icon-sign,
ol.list-icon-sign {
  list-style-type: none;
  counter-reset: list;
  padding-left: 0;
}
ul.list-icon-sign > li,
ol.list-icon-sign > li {
  margin-bottom: 0.5em;
  padding-left: 3em;
  line-height: 2em;
  display: list-item;
}
ul.list-icon-sign > li:before,
ol.list-icon-sign > li:before {
  display: inline-block;
  vertical-align: middle;
  width: 2em;
  height: 2em;
  text-align: center;
  background-color: #fafafa;
  margin-left: -3em;
  margin-right: 1em;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  -ms-border-radius: 10em;
  border-radius: 10em;
}
ul.list-icon-sign > li:hover:before,
ol.list-icon-sign > li:hover:before {
  background: #31b0d5;
  color: #ffffff;
}
ul.small > li,
ol.small > li {
  padding: 2px 6px;
}
ul {
  list-style-type: disc;
}
ul ul {
  list-style-type: circle;
}
ol {
  list-style-type: decimal;
}
ol ol {
  list-style-type: lower-latin;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin-bottom: 0.75em;
}
dl dd + dd {
  margin-top: -0.5em;
}
dl.horizontal dt {
  float: left;
  clear: left;
  width: 35%;
  text-align: right;
}
dl.horizontal dd {
  margin-left: 35%;
}
.list-title {
  background: #aaaaaa;
  color: #ffffff;
  overflow: hidden;
  padding: 6px 0;
}
.items-list {
  margin-bottom: 0;
  padding: 0;
}
.items-list .list-row {
  background: #fafafa;
  margin: 0;
  padding: 4px 0;
  overflow: hidden;
  list-style: none;
  max-width: 100%;
}
.items-list .list-row + .list-row {
  margin-top: 2px;
}
.items-list .list-row .list-row-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.items-list .list-row .list-row-count {
  text-align: center;
  font-size: 0.85em;
  background: #eaeaea;
  padding: 5px 0;
}
ol.items-list .list-row {
  padding: 0;
}
ol.items-list .list-row > * {
  padding: 4px 8px;
}
.list-images {
  font-size: 0;
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 0;
}
.list-images > * {
  display: inline-block;
  vertical-align: top;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  padding: 2px;
  background: transparent;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 1px solid #eaeaea;
  height: 80px;
  line-height: 74px;
  margin: 1%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.list-images > *:hover {
  border-color: #666666;
  -webkit-box-shadow: 3px 3px 3px #666666;
  -moz-box-shadow: 3px 3px 3px #666666;
  -ms-box-shadow: 3px 3px 3px #666666;
  box-shadow: 3px 3px 3px #666666;
}
.list-images > * img {
  width: auto;
  max-height: 100%;
}
.list-images > img {
  height: auto;
  line-height: normal;
}
.paginator,
.dataTables_paginate {
  color: #eaeaea;
  font-size: 0.85em;
  cursor: default;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
}
.paginator *,
.dataTables_paginate * {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #eaeaea;
  padding: 4px 8px;
  margin: 0 0.1em;
}
.paginator *.page,
.dataTables_paginate *.page {
  cursor: pointer;
  border-color: #eaeaea;
}
.paginator *.page:hover,
.dataTables_paginate *.page:hover {
  background: #eaeaea;
  color: #666666;
}
.paginator *.page.selected,
.dataTables_paginate *.page.selected {
  background: #31b0d5;
  color: #ffffff;
  border-color: #31b0d5;
}
.paginator :first-child,
.dataTables_paginate :first-child,
.paginator :last-child,
.dataTables_paginate :last-child {
  font-weight: bold;
}
.social-links a {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 0 !important;
  color: #fff;
  padding: 6px;
  background: #eaeaea;
}
.social-links a:before {
  font-size: 18px;
}
.social-links a:hover.facebook {
  background: #3b5a99;
}
.social-links a:hover.twitter {
  background: #1aa8e0;
}
.social-links a:hover.gplus {
  background: #ca3e2d;
}
.social-links a:hover.rss {
  background: #FE9900;
}
.social-links a:hover.linkedin {
  background: #4875b5;
}
.social-links a:hover.youtube {
  background: #c7453f;
}
.social-links a:hover.pinterest {
  background: #bd3137;
}
table {
  width: 100%;
  background-color: transparent;
}
table th,
table td {
  padding: 6px;
  border-top: 1px solid #dddddd;
  vertical-align: middle;
}
table th {
  border-top: 0;
  vertical-align: bottom;
  text-align: left;
}
table td:first-child {
  vertical-align: top;
}
table tbody + tbody {
  border-top: 2px solid #dddddd;
}
table table {
  background-color: #ffffff;
}
table.small th,
table.small td {
  padding: 5px;
}
table.large th,
table.large td {
  padding: 10px;
}
.table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  border-left: 0;
}
.table-bordered tr > th,
.table-bordered tr > td {
  border-left: 1px solid #dddddd;
}
.table-striped tr > td {
  border-top: 0;
}
.table-striped tr:nth-child(even) > td {
  background-color: #fafafa;
}
.table-hover tr:hover > td {
  background-color: #fafafa;
}
.table-hover tr > .green:hover,
.table-hover tr.green:hover > td {
  background-color: #cbeaad;
  border-color: #a7d17f;
}
.table-hover tr > .red:hover,
.table-hover tr.red:hover > td {
  background-color: #f7a5ae;
  border-color: #ed8793;
}
.table-hover tr > .orange:hover,
.table-hover tr.orange:hover > td {
  background-color: #fee49e;
  border-color: #e2c880;
}
.table-hover tr > .blue:hover,
.table-hover tr.blue:hover > td {
  background-color: #a3d8ed;
  border-color: #8fbdcd;
}
table tr > .primary,
table tr.primary > td {
  color: #333333;
  background-color: #d0e3e9;
  border-color: #9cc4d0;
  border-bottom: 1px solid #9cc4d0;
}
table tr > .green,
table tr.green > td {
  color: #333333;
  background-color: #d8efc1;
  border-color: #b4d892;
  border-bottom: 1px solid #b4d892;
}
table tr > .red,
table tr.red > td {
  color: #333333;
  background-color: #f9bcc3;
  border-color: #f09da7;
  border-bottom: 1px solid #f09da7;
}
table tr > .orange,
table tr.orange > td {
  color: #333333;
  background-color: #feebb7;
  border-color: #e7d195;
  border-bottom: 1px solid #e7d195;
}
table tr > .blue,
table tr.blue > td {
  color: #333333;
  background-color: #b8e1f1;
  border-color: #a1c7d5;
  border-bottom: 1px solid #a1c7d5;
}
.table-scroll {
  overflow: auto;
  position: relative;
  display: block;
}
.table-scroll thead {
  background-color: #aaaaaa;
  color: #ffffff;
  display: block;
}
.table-scroll tbody {
  display: block;
  overflow: auto;
}
.table-scroll tr {
  display: block;
  overflow: hidden;
}
.table-scroll th,
.table-scroll td {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.dataTables_wrapper {
  float: left;
  width: 100%;
}
.dataTables_wrapper .dataTables_filter label {
  width: 30%;
  display: block;
}
.dataTables_wrapper .dataTables_filter label input {
  width: 75%;
}
.dataTables_wrapper .dataTable .sorting,
.dataTables_wrapper .dataTable .sorting_asc,
.dataTables_wrapper .dataTable .sorting_desc {
  cursor: pointer;
}
.dataTables_wrapper .dataTable .sorting:after,
.dataTables_wrapper .dataTable .sorting_asc:after,
.dataTables_wrapper .dataTable .sorting_desc:after {
  font-size: 10px;
  margin-left: 3px;
  top: -1px;
}
img[style*="float: left"],
img[style*="float:left"] {
  margin-right: 15px;
}
img[style*="float: right"],
img[style*="float:right"] {
  margin-left: 15px;
}
[class*="caption"] {
  line-height: 1.428571429;
  padding: 4px;
  color: #ffffff;
  text-align: center;
  font-size: 0.85em;
  background: rgba(49, 176, 213, 0.8);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#cc31b0d5', EndColorStr='#cc31b0d5')";
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#cc31b0d5', EndColorStr='#cc31b0d5');
  zoom: 1 !important;
}
.btn,
button,
[type="submit"] {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  text-align: center;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  height: 30px;
  padding: 6px 12px;
  line-height: 18px;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  transition: background 0.3s ease;
  color: #ffffff;
  background-color: #31b0d5;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.btn:hover,
button:hover,
[type="submit"]:hover,
.btn:active,
button:active,
[type="submit"]:active {
  color: #ffffff;
  background-color: #2490af;
}
.btn:active,
button:active,
[type="submit"]:active {
  -webkit-box-shadow: 0.2rem 0.2rem 0.2rem #175c70 inset;
  -moz-box-shadow: 0.2rem 0.2rem 0.2rem #175c70 inset;
  -ms-box-shadow: 0.2rem 0.2rem 0.2rem #175c70 inset;
  box-shadow: 0.2rem 0.2rem 0.2rem #175c70 inset;
}
.btn.disabled,
button.disabled,
[type="submit"].disabled,
.btn[disabled],
button[disabled],
[type="submit"][disabled] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  color: #ffffff;
  background-color: #569cb0;
  text-decoration: none;
}
.btn:not(.icon),
button:not(.icon),
[type="submit"]:not(.icon) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.btn[class*="grid_"],
button[class*="grid_"],
[type="submit"][class*="grid_"] {
  padding-left: 0;
  padding-right: 0;
}
.btn[class*="icon-"]:not(:empty):before,
button[class*="icon-"]:not(:empty):before,
[type="submit"][class*="icon-"]:not(:empty):before {
  margin-right: 5px;
}
.btn.inverse,
button.inverse,
[type="submit"].inverse {
  color: #666666;
  background-color: #eaeaea;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.btn.inverse:hover,
button.inverse:hover,
[type="submit"].inverse:hover,
.btn.inverse:active,
button.inverse:active,
[type="submit"].inverse:active {
  color: #ffffff;
  background-color: #31b0d5;
}
.btn.inverse:active,
button.inverse:active,
[type="submit"].inverse:active {
  -webkit-box-shadow: 0.2rem 0.2rem 0.4rem #175c70 inset;
  -moz-box-shadow: 0.2rem 0.2rem 0.4rem #175c70 inset;
  -ms-box-shadow: 0.2rem 0.2rem 0.4rem #175c70 inset;
  box-shadow: 0.2rem 0.2rem 0.4rem #175c70 inset;
}
.btn.inverse.disabled,
button.inverse.disabled,
[type="submit"].inverse.disabled,
.btn.inverse[disabled],
button.inverse[disabled],
[type="submit"].inverse[disabled] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  color: #666666;
  background-color: #eaeaea;
  text-decoration: none;
}
.btn.warning,
button.warning,
[type="submit"].warning {
  color: #ffffff;
  background-color: #e67e22;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.btn.warning:hover,
button.warning:hover,
[type="submit"].warning:hover,
.btn.warning:active,
button.warning:active,
[type="submit"].warning:active {
  color: #ffffff;
  background-color: #bf6516;
}
.btn.warning:active,
button.warning:active,
[type="submit"].warning:active {
  -webkit-box-shadow: 0.2rem 0.2rem 0.2rem #7b410e inset;
  -moz-box-shadow: 0.2rem 0.2rem 0.2rem #7b410e inset;
  -ms-box-shadow: 0.2rem 0.2rem 0.2rem #7b410e inset;
  box-shadow: 0.2rem 0.2rem 0.2rem #7b410e inset;
}
.btn.warning.disabled,
button.warning.disabled,
[type="submit"].warning.disabled,
.btn.warning[disabled],
button.warning[disabled],
[type="submit"].warning[disabled] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  color: #ffffff;
  background-color: #c18047;
  text-decoration: none;
}
.btn.inverse-warning,
button.inverse-warning,
[type="submit"].inverse-warning {
  color: #666666;
  background-color: #eaeaea;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.btn.inverse-warning:hover,
button.inverse-warning:hover,
[type="submit"].inverse-warning:hover,
.btn.inverse-warning:active,
button.inverse-warning:active,
[type="submit"].inverse-warning:active {
  color: #ffffff;
  background-color: #e67e22;
}
.btn.inverse-warning:active,
button.inverse-warning:active,
[type="submit"].inverse-warning:active {
  -webkit-box-shadow: 0.2rem 0.2rem 0.4rem #7b410e inset;
  -moz-box-shadow: 0.2rem 0.2rem 0.4rem #7b410e inset;
  -ms-box-shadow: 0.2rem 0.2rem 0.4rem #7b410e inset;
  box-shadow: 0.2rem 0.2rem 0.4rem #7b410e inset;
}
.btn.inverse-warning.disabled,
button.inverse-warning.disabled,
[type="submit"].inverse-warning.disabled,
.btn.inverse-warning[disabled],
button.inverse-warning[disabled],
[type="submit"].inverse-warning[disabled] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  color: #666666;
  background-color: #eaeaea;
  text-decoration: none;
}
.btn.error,
button.error,
[type="submit"].error {
  color: #ffffff;
  background-color: #e74c3c;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.btn.error:hover,
button.error:hover,
[type="submit"].error:hover,
.btn.error:active,
button.error:active,
[type="submit"].error:active {
  color: #ffffff;
  background-color: #d62c1a;
}
.btn.error:active,
button.error:active,
[type="submit"].error:active {
  -webkit-box-shadow: 0.2rem 0.2rem 0.2rem #921e12 inset;
  -moz-box-shadow: 0.2rem 0.2rem 0.2rem #921e12 inset;
  -ms-box-shadow: 0.2rem 0.2rem 0.2rem #921e12 inset;
  box-shadow: 0.2rem 0.2rem 0.2rem #921e12 inset;
}
.btn.error.disabled,
button.error.disabled,
[type="submit"].error.disabled,
.btn.error[disabled],
button.error[disabled],
[type="submit"].error[disabled] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  color: #ffffff;
  background-color: #c6675d;
  text-decoration: none;
}
.btn.inverse-error,
button.inverse-error,
[type="submit"].inverse-error {
  color: #666666;
  background-color: #eaeaea;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.btn.inverse-error:hover,
button.inverse-error:hover,
[type="submit"].inverse-error:hover,
.btn.inverse-error:active,
button.inverse-error:active,
[type="submit"].inverse-error:active {
  color: #ffffff;
  background-color: #e74c3c;
}
.btn.inverse-error:active,
button.inverse-error:active,
[type="submit"].inverse-error:active {
  -webkit-box-shadow: 0.2rem 0.2rem 0.4rem #921e12 inset;
  -moz-box-shadow: 0.2rem 0.2rem 0.4rem #921e12 inset;
  -ms-box-shadow: 0.2rem 0.2rem 0.4rem #921e12 inset;
  box-shadow: 0.2rem 0.2rem 0.4rem #921e12 inset;
}
.btn.inverse-error.disabled,
button.inverse-error.disabled,
[type="submit"].inverse-error.disabled,
.btn.inverse-error[disabled],
button.inverse-error[disabled],
[type="submit"].inverse-error[disabled] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  color: #666666;
  background-color: #eaeaea;
  text-decoration: none;
}
.btn.success,
button.success,
[type="submit"].success {
  color: #ffffff;
  background-color: #2ecc71;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.btn.success:hover,
button.success:hover,
[type="submit"].success:hover,
.btn.success:active,
button.success:active,
[type="submit"].success:active {
  color: #ffffff;
  background-color: #25a25a;
}
.btn.success:active,
button.success:active,
[type="submit"].success:active {
  -webkit-box-shadow: 0.2rem 0.2rem 0.2rem #176437 inset;
  -moz-box-shadow: 0.2rem 0.2rem 0.2rem #176437 inset;
  -ms-box-shadow: 0.2rem 0.2rem 0.2rem #176437 inset;
  box-shadow: 0.2rem 0.2rem 0.2rem #176437 inset;
}
.btn.success.disabled,
button.success.disabled,
[type="submit"].success.disabled,
.btn.success[disabled],
button.success[disabled],
[type="submit"].success[disabled] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  color: #ffffff;
  background-color: #53a777;
  text-decoration: none;
}
.btn.inverse-success,
button.inverse-success,
[type="submit"].inverse-success {
  color: #666666;
  background-color: #eaeaea;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.btn.inverse-success:hover,
button.inverse-success:hover,
[type="submit"].inverse-success:hover,
.btn.inverse-success:active,
button.inverse-success:active,
[type="submit"].inverse-success:active {
  color: #ffffff;
  background-color: #2ecc71;
}
.btn.inverse-success:active,
button.inverse-success:active,
[type="submit"].inverse-success:active {
  -webkit-box-shadow: 0.2rem 0.2rem 0.4rem #176437 inset;
  -moz-box-shadow: 0.2rem 0.2rem 0.4rem #176437 inset;
  -ms-box-shadow: 0.2rem 0.2rem 0.4rem #176437 inset;
  box-shadow: 0.2rem 0.2rem 0.4rem #176437 inset;
}
.btn.inverse-success.disabled,
button.inverse-success.disabled,
[type="submit"].inverse-success.disabled,
.btn.inverse-success[disabled],
button.inverse-success[disabled],
[type="submit"].inverse-success[disabled] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  color: #666666;
  background-color: #eaeaea;
  text-decoration: none;
}
.btn.info,
button.info,
[type="submit"].info {
  color: #ffffff;
  background-color: #3498db;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.btn.info:hover,
button.info:hover,
[type="submit"].info:hover,
.btn.info:active,
button.info:active,
[type="submit"].info:active {
  color: #ffffff;
  background-color: #217dbb;
}
.btn.info:active,
button.info:active,
[type="submit"].info:active {
  -webkit-box-shadow: 0.2rem 0.2rem 0.2rem #16527a inset;
  -moz-box-shadow: 0.2rem 0.2rem 0.2rem #16527a inset;
  -ms-box-shadow: 0.2rem 0.2rem 0.2rem #16527a inset;
  box-shadow: 0.2rem 0.2rem 0.2rem #16527a inset;
}
.btn.info.disabled,
button.info.disabled,
[type="submit"].info.disabled,
.btn.info[disabled],
button.info[disabled],
[type="submit"].info[disabled] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  color: #ffffff;
  background-color: #5891b7;
  text-decoration: none;
}
.btn.inverse-info,
button.inverse-info,
[type="submit"].inverse-info {
  color: #666666;
  background-color: #eaeaea;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.btn.inverse-info:hover,
button.inverse-info:hover,
[type="submit"].inverse-info:hover,
.btn.inverse-info:active,
button.inverse-info:active,
[type="submit"].inverse-info:active {
  color: #ffffff;
  background-color: #3498db;
}
.btn.inverse-info:active,
button.inverse-info:active,
[type="submit"].inverse-info:active {
  -webkit-box-shadow: 0.2rem 0.2rem 0.4rem #16527a inset;
  -moz-box-shadow: 0.2rem 0.2rem 0.4rem #16527a inset;
  -ms-box-shadow: 0.2rem 0.2rem 0.4rem #16527a inset;
  box-shadow: 0.2rem 0.2rem 0.4rem #16527a inset;
}
.btn.inverse-info.disabled,
button.inverse-info.disabled,
[type="submit"].inverse-info.disabled,
.btn.inverse-info[disabled],
button.inverse-info[disabled],
[type="submit"].inverse-info[disabled] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  color: #666666;
  background-color: #eaeaea;
  text-decoration: none;
}
.btn.larger,
button.larger,
[type="submit"].larger {
  height: 51px;
  padding: 12px 18px;
  line-height: 27px;
}
.btn.large,
button.large,
[type="submit"].large {
  height: 43px;
  padding: 10px 16px;
  line-height: 23px;
}
.btn.small,
button.small,
[type="submit"].small {
  height: 23px;
  padding: 4px 8px;
  line-height: 15px;
}
.btn.block,
button.block,
[type="submit"].block {
  float: none;
  display: block;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
.btn.block + .block,
button.block + .block,
[type="submit"].block + .block {
  margin-top: 0.5em;
}
.btn.ui-button-icon-only,
button.ui-button-icon-only,
[type="submit"].ui-button-icon-only,
.btn.icon,
button.icon,
[type="submit"].icon {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 0 !important;
  padding: 7px;
}
.btn.ui-button-icon-only:before,
button.ui-button-icon-only:before,
[type="submit"].ui-button-icon-only:before,
.btn.icon:before,
button.icon:before,
[type="submit"].icon:before {
  font-size: 16px;
}
.btn.ui-button-icon-only:before,
button.ui-button-icon-only:before,
[type="submit"].ui-button-icon-only:before,
.btn.icon:before,
button.icon:before,
[type="submit"].icon:before {
  margin: 0;
}
.btn.ui-button-icon-only[class*="grid_"],
button.ui-button-icon-only[class*="grid_"],
[type="submit"].ui-button-icon-only[class*="grid_"],
.btn.icon[class*="grid_"],
button.icon[class*="grid_"],
[type="submit"].icon[class*="grid_"] {
  padding-left: 0;
  padding-right: 0;
}
.btn.ui-button-icon-only.larger,
button.ui-button-icon-only.larger,
[type="submit"].ui-button-icon-only.larger,
.btn.icon.larger,
button.icon.larger,
[type="submit"].icon.larger {
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 0 !important;
  padding: 13.5px;
}
.btn.ui-button-icon-only.larger:before,
button.ui-button-icon-only.larger:before,
[type="submit"].ui-button-icon-only.larger:before,
.btn.icon.larger:before,
button.icon.larger:before,
[type="submit"].icon.larger:before {
  font-size: 24px;
}
.btn.ui-button-icon-only.large,
button.ui-button-icon-only.large,
[type="submit"].ui-button-icon-only.large,
.btn.icon.large,
button.icon.large,
[type="submit"].icon.large {
  width: 19px;
  height: 19px;
  line-height: 19px;
  font-size: 0 !important;
  padding: 12px;
}
.btn.ui-button-icon-only.large:before,
button.ui-button-icon-only.large:before,
[type="submit"].ui-button-icon-only.large:before,
.btn.icon.large:before,
button.icon.large:before,
[type="submit"].icon.large:before {
  font-size: 19px;
}
.btn.ui-button-icon-only.small,
button.ui-button-icon-only.small,
[type="submit"].ui-button-icon-only.small,
.btn.icon.small,
button.icon.small,
[type="submit"].icon.small {
  width: 11px;
  height: 11px;
  line-height: 11px;
  font-size: 0 !important;
  padding: 6px;
}
.btn.ui-button-icon-only.small:before,
button.ui-button-icon-only.small:before,
[type="submit"].ui-button-icon-only.small:before,
.btn.icon.small:before,
button.icon.small:before,
[type="submit"].icon.small:before {
  font-size: 11px;
}
.btn.link,
button.link,
[type="submit"].link {
  font-weight: normal;
  padding: 0;
  color: #59a5c3;
  background-color: transparent;
}
.btn.link:hover,
button.link:hover,
[type="submit"].link:hover,
.btn.link:active,
button.link:active,
[type="submit"].link:active {
  color: #234f60;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.btn.link.disabled,
button.link.disabled,
[type="submit"].link.disabled,
.btn.link[disabled],
button.link[disabled],
[type="submit"].link[disabled] {
  color: #7b96a1;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.btn.link:hover,
button.link:hover,
[type="submit"].link:hover,
.btn.link:active,
button.link:active,
[type="submit"].link:active {
  color: true;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.btn.link.disabled,
button.link.disabled,
[type="submit"].link.disabled,
.btn.link[disabled],
button.link[disabled],
[type="submit"].link[disabled] {
  color: #7b96a1;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.btn.link:hover,
button.link:hover,
[type="submit"].link:hover,
.btn.link:active,
button.link:active,
[type="submit"].link:active {
  color: #234f60;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.btn.link:hover,
button.link:hover,
[type="submit"].link:hover,
.btn.link:active,
button.link:active,
[type="submit"].link:active {
  color: true;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.btn.link:hover,
button.link:hover,
[type="submit"].link:hover,
.btn.link:focus,
button.link:focus,
[type="submit"].link:focus {
  color: #377d98;
  text-decoration: none;
}
.btn.link.inverse,
button.link.inverse,
[type="submit"].link.inverse {
  color: #666666;
  background-color: transparent;
}
.btn.link.inverse:hover,
button.link.inverse:hover,
[type="submit"].link.inverse:hover,
.btn.link.inverse:active,
button.link.inverse:active,
[type="submit"].link.inverse:active {
  color: #59a5c3;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.btn.link.inverse.disabled,
button.link.inverse.disabled,
[type="submit"].link.inverse.disabled,
.btn.link.inverse[disabled],
button.link.inverse[disabled],
[type="submit"].link.inverse[disabled] {
  color: #666666;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.btn.link.warning,
button.link.warning,
[type="submit"].link.warning {
  color: #e67e22;
  background-color: transparent;
}
.btn.link.warning:hover,
button.link.warning:hover,
[type="submit"].link.warning:hover,
.btn.link.warning:active,
button.link.warning:active,
[type="submit"].link.warning:active {
  color: #64350b;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.btn.link.warning.disabled,
button.link.warning.disabled,
[type="submit"].link.warning.disabled,
.btn.link.warning[disabled],
button.link.warning[disabled],
[type="submit"].link.warning[disabled] {
  color: #c18047;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.btn.link.warning:hover,
button.link.warning:hover,
[type="submit"].link.warning:hover,
.btn.link.warning:active,
button.link.warning:active,
[type="submit"].link.warning:active {
  color: true;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.btn.link.warning.disabled,
button.link.warning.disabled,
[type="submit"].link.warning.disabled,
.btn.link.warning[disabled],
button.link.warning[disabled],
[type="submit"].link.warning[disabled] {
  color: #c18047;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.btn.link.inverse-warning,
button.link.inverse-warning,
[type="submit"].link.inverse-warning {
  color: #666666;
  background-color: transparent;
}
.btn.link.inverse-warning:hover,
button.link.inverse-warning:hover,
[type="submit"].link.inverse-warning:hover,
.btn.link.inverse-warning:active,
button.link.inverse-warning:active,
[type="submit"].link.inverse-warning:active {
  color: #e67e22;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.btn.link.inverse-warning.disabled,
button.link.inverse-warning.disabled,
[type="submit"].link.inverse-warning.disabled,
.btn.link.inverse-warning[disabled],
button.link.inverse-warning[disabled],
[type="submit"].link.inverse-warning[disabled] {
  color: #666666;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.btn.link.error,
button.link.error,
[type="submit"].link.error {
  color: #e74c3c;
  background-color: transparent;
}
.btn.link.error:hover,
button.link.error:hover,
[type="submit"].link.error:hover,
.btn.link.error:active,
button.link.error:active,
[type="submit"].link.error:active {
  color: #7b190f;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.btn.link.error.disabled,
button.link.error.disabled,
[type="submit"].link.error.disabled,
.btn.link.error[disabled],
button.link.error[disabled],
[type="submit"].link.error[disabled] {
  color: #c6675d;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.btn.link.error:hover,
button.link.error:hover,
[type="submit"].link.error:hover,
.btn.link.error:active,
button.link.error:active,
[type="submit"].link.error:active {
  color: true;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.btn.link.error.disabled,
button.link.error.disabled,
[type="submit"].link.error.disabled,
.btn.link.error[disabled],
button.link.error[disabled],
[type="submit"].link.error[disabled] {
  color: #c6675d;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.btn.link.inverse-error,
button.link.inverse-error,
[type="submit"].link.inverse-error {
  color: #666666;
  background-color: transparent;
}
.btn.link.inverse-error:hover,
button.link.inverse-error:hover,
[type="submit"].link.inverse-error:hover,
.btn.link.inverse-error:active,
button.link.inverse-error:active,
[type="submit"].link.inverse-error:active {
  color: #e74c3c;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.btn.link.inverse-error.disabled,
button.link.inverse-error.disabled,
[type="submit"].link.inverse-error.disabled,
.btn.link.inverse-error[disabled],
button.link.inverse-error[disabled],
[type="submit"].link.inverse-error[disabled] {
  color: #666666;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.btn.link.success,
button.link.success,
[type="submit"].link.success {
  color: #2ecc71;
  background-color: transparent;
}
.btn.link.success:hover,
button.link.success:hover,
[type="submit"].link.success:hover,
.btn.link.success:active,
button.link.success:active,
[type="submit"].link.success:active {
  color: #124f2c;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.btn.link.success.disabled,
button.link.success.disabled,
[type="submit"].link.success.disabled,
.btn.link.success[disabled],
button.link.success[disabled],
[type="submit"].link.success[disabled] {
  color: #53a777;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.btn.link.success:hover,
button.link.success:hover,
[type="submit"].link.success:hover,
.btn.link.success:active,
button.link.success:active,
[type="submit"].link.success:active {
  color: true;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.btn.link.success.disabled,
button.link.success.disabled,
[type="submit"].link.success.disabled,
.btn.link.success[disabled],
button.link.success[disabled],
[type="submit"].link.success[disabled] {
  color: #53a777;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.btn.link.inverse-success,
button.link.inverse-success,
[type="submit"].link.inverse-success {
  color: #666666;
  background-color: transparent;
}
.btn.link.inverse-success:hover,
button.link.inverse-success:hover,
[type="submit"].link.inverse-success:hover,
.btn.link.inverse-success:active,
button.link.inverse-success:active,
[type="submit"].link.inverse-success:active {
  color: #2ecc71;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.btn.link.inverse-success.disabled,
button.link.inverse-success.disabled,
[type="submit"].link.inverse-success.disabled,
.btn.link.inverse-success[disabled],
button.link.inverse-success[disabled],
[type="submit"].link.inverse-success[disabled] {
  color: #666666;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.btn.link.info,
button.link.info,
[type="submit"].link.info {
  color: #3498db;
  background-color: transparent;
}
.btn.link.info:hover,
button.link.info:hover,
[type="submit"].link.info:hover,
.btn.link.info:active,
button.link.info:active,
[type="submit"].link.info:active {
  color: #124364;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.btn.link.info.disabled,
button.link.info.disabled,
[type="submit"].link.info.disabled,
.btn.link.info[disabled],
button.link.info[disabled],
[type="submit"].link.info[disabled] {
  color: #5891b7;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.btn.link.info:hover,
button.link.info:hover,
[type="submit"].link.info:hover,
.btn.link.info:active,
button.link.info:active,
[type="submit"].link.info:active {
  color: true;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.btn.link.info.disabled,
button.link.info.disabled,
[type="submit"].link.info.disabled,
.btn.link.info[disabled],
button.link.info[disabled],
[type="submit"].link.info[disabled] {
  color: #5891b7;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.btn.link.inverse-info,
button.link.inverse-info,
[type="submit"].link.inverse-info {
  color: #666666;
  background-color: transparent;
}
.btn.link.inverse-info:hover,
button.link.inverse-info:hover,
[type="submit"].link.inverse-info:hover,
.btn.link.inverse-info:active,
button.link.inverse-info:active,
[type="submit"].link.inverse-info:active {
  color: #3498db;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.btn.link.inverse-info.disabled,
button.link.inverse-info.disabled,
[type="submit"].link.inverse-info.disabled,
.btn.link.inverse-info[disabled],
button.link.inverse-info[disabled],
[type="submit"].link.inverse-info[disabled] {
  color: #666666;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.ui-buttonset,
.btn-set {
  font-size: 0;
  display: inline-block;
  border-width: 0;
  border-style: solid;
  border-color: #31b0d5;
  width: auto;
  float: none;
}
.ui-buttonset .ui-button,
.btn-set .ui-button,
.ui-buttonset .btn,
.btn-set .btn {
  font-size: 14px;
  margin-left: 1px;
}
.ui-buttonset .ui-button:first-child,
.btn-set .ui-button:first-child,
.ui-buttonset .btn:first-child,
.btn-set .btn:first-child {
  margin-left: 0;
}
input[type="submit"].block,
input[type="reset"].block,
input[type="button"].block {
  width: 100%;
}
[type="submit"],
.save-and-close,
#save-btn {
  float: right;
}
.content-footer.grid_12 + footer [type="submit"],
.content-footer.grid_12 + footer .save-and-close,
.content-footer.grid_12 + footer #save-btn,
.content-medium-footer.grid_12 + footer [type="submit"],
.content-medium-footer.grid_12 + footer .save-and-close,
.content-medium-footer.grid_12 + footer #save-btn,
.content-small-footer.grid_12 + footer [type="submit"],
.content-small-footer.grid_12 + footer .save-and-close,
.content-small-footer.grid_12 + footer #save-btn {
  margin-right: 2%;
}
hr {
  clear: both;
  margin: 0.75em 0 2em;
  height: 1px;
  background: #eaeaea;
}
.ui-widget-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  background: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.ui-widget-overlay ~ .ui-widget-overlay {
  display: none;
}
body {
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.428571429;
  color: #333333;
}
.seotoaster {
  color: #333333;
  font-size: 14px;
  max-width: 960px;
}
.seotoaster.go-form {
  margin-top: 15%;
  padding: 2px;
  width: 400px;
  -webkit-box-shadow: 0 5px 15px #777777;
  -moz-box-shadow: 0 5px 15px #777777;
  -ms-box-shadow: 0 5px 15px #777777;
  box-shadow: 0 5px 15px #777777;
}
.seotoaster.go-form .flag-button {
  float: left;
  margin-left: 8px;
}
.header {
  background: #eaeaea;
  color: #666666;
  overflow: hidden;
  line-height: 40px;
  height: 40px;
  padding: 0 15px;
  font-size: 1.25em;
  position: relative;
}
.header .shadow {
  -webkit-box-shadow: 0 5px 15px #ffffff;
  -moz-box-shadow: 0 5px 15px #ffffff;
  -ms-box-shadow: 0 5px 15px #ffffff;
  box-shadow: 0 5px 15px #ffffff;
}
.header > * {
  font-size: 14px;
}
.ui-tabs .header.ui-tabs-nav {
  padding-right: 8%;
}
.ui-tabs .header.ui-tabs-nav .ui-tabs-anchor {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.header a {
  text-decoration: none;
}
.header-inner {
  background: #aaaaaa;
  color: #ffffff;
  overflow: hidden;
  padding-top: 6px;
  padding-bottom: 6px;
}
.header-inner a {
  color: inherit;
}
.pluginspace {
  float: right;
  margin-right: 4%;
}
.closebutton {
  position: absolute;
  top: 0;
  right: 2%;
  z-index: 100;
  line-height: 40px;
}
.closebutton:before {
  content: "\a0";
}
.header > .closebutton {
  float: right;
  margin-left: 0;
  position: static;
}
.show-left .header > .closebutton {
  float: left;
}
.closebutton .help {
  width: 14px !important;
  height: 14px !important;
  line-height: 14px !important;
  font-size: 0 !important !important;
  margin-right: 5px;
}
.closebutton .help:before {
  font-size: 14px !important;
}
.closebutton .close {
  width: 13px !important;
  height: 13px !important;
  line-height: 13px !important;
  font-size: 0 !important !important;
}
.closebutton .close:before {
  font-size: 13px !important;
}
.closebutton .hide {
  width: 15px !important;
  height: 15px !important;
  line-height: 15px !important;
  font-size: 0 !important !important;
}
.closebutton .hide:before {
  font-size: 15px !important;
}
.content-auto,
.content,
.content-footer,
.content-medium,
.content-medium-footer,
.content-small,
.content-small-footer {
  position: static;
  background: #ffffff;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 10px;
  clear: both;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.content-auto:after,
.content:after,
.content-footer:after,
.content-medium:after,
.content-medium-footer:after,
.content-small:after,
.content-small-footer:after {
  content: "";
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  height: 0;
}
.content-auto.screen-expand,
.content.screen-expand,
.content-footer.screen-expand,
.content-medium.screen-expand,
.content-medium-footer.screen-expand,
.content-small.screen-expand,
.content-small-footer.screen-expand {
  height: auto !important;
}
.content-auto.wrap,
.content.wrap,
.content-footer.wrap,
.content-medium.wrap,
.content-medium-footer.wrap,
.content-small.wrap,
.content-small-footer.wrap {
  overflow: hidden;
}
.ui-tabs .content-auto.ui-tabs-panel,
.ui-tabs .content.ui-tabs-panel,
.ui-tabs .content-footer.ui-tabs-panel,
.ui-tabs .content-medium.ui-tabs-panel,
.ui-tabs .content-medium-footer.ui-tabs-panel,
.ui-tabs .content-small.ui-tabs-panel,
.ui-tabs .content-small-footer.ui-tabs-panel {
  padding: 10px 2% 0;
}
.with-content > .ui-tabs-panel,
.with-content-footer > .ui-tabs-panel {
  position: static;
  background: #ffffff;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 10px !important;
  clear: both;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.with-content > .ui-tabs-panel:after,
.with-content-footer > .ui-tabs-panel:after {
  content: "";
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  height: 0;
}
.content,
.content-medium,
.content-small,
.content-auto {
  padding-bottom: 10px;
}
.content,
.with-content > .ui-tabs-panel {
  height: 520px;
}
.content-footer,
.with-content-footer > .ui-tabs-panel {
  height: 465px;
}
.content-medium {
  height: 440px;
}
.content-medium-footer {
  height: 385px;
}
.content-small {
  height: 320px;
}
.content-small-footer {
  height: 265px;
}
.footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  padding: 15px 0 10px;
  height: 55px;
  line-height: 30px;
}
[class*="content"].grid_12 + .footer {
  padding-left: 2%;
  padding-right: 2%;
}
.footer [type="submit"],
.footer [type="button"] {
  margin-top: 0 !important;
}
[class*=".content-"] .footer {
  background: #ffffff;
}
.page-preview {
  -webkit-box-shadow: 0 1px 1px #bbbbbb;
  -moz-box-shadow: 0 1px 1px #bbbbbb;
  -ms-box-shadow: 0 1px 1px #bbbbbb;
  box-shadow: 0 1px 1px #bbbbbb;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 0;
  background: #FFF;
  height: 130px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-top-color: #EEE;
}
.page-preview.error {
  border-color: #e74c3c;
}
.page-preview img {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;
}
.page-preview img[src*="noimage.png"] + span {
  background: #ffffff;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0 20px;
  text-align: center;
  color: #999999;
  line-height: normal;
  font-size: 16px;
}
.page-preview img[src*="noimage.png"] + span:before {
  font-size: 54px;
  color: #eaeaea;
  display: block;
  margin: 10px;
}
.page-preview > [id*="teaser-uploader"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.page-preview > [id*="teaser-uploader"] button {
  height: 100%;
  padding: 0;
  width: 100%;
  background: transparent;
  color: transparent;
  z-index: 50;
}
.page-preview > [id*="teaser-uploader"] button:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.page-preview [id*="teaser-uploader-filelist"] {
  display: none;
}
.page-preview:hover img[src*="noimage.png"] + span {
  color: #808080;
}
.page-preview:hover img[src*="noimage.png"] + span:before {
  color: #dddddd;
}
.plupload {
  display: none;
}
