/* 
 * installer styles
 */
@import url('http://fonts.googleapis.com/css?family=Play|PT+Sans&subset=latin,cyrillic');
html > * {
	font-family: 'PT Sans';
}
code {
	font-family: monospace;
}
a, a:visited, a:active {
	color: #3875d7;
}
a:hover {
	color: blue;
}
footer {
	padding-top: 10px;
	text-align: center;
}
footer a{
	color: #999 !important;
	font-size: 10px;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
}
footer:hover a{
	color: #3875d7 !important;
	font-size: 12px;
}

ul.marked li {
	list-style-position: inside;
	list-style-type: square;
}
#container { 
	margin: 2% auto 0;
	width: 920px;
}
#container #language span.ui-button-text{
	padding: 4px 10px;
}
#container #language label.ui-state-hover {
	background: #3399ff;
}
#container #language label.ui-state-active { 
	background: #b3c7e1;
}
.installer .header {
	margin: 5px 0;
	padding: 5px;
	        border-radius: 8px;
	background-color: #777; background-clip: padding-box;
	-webkit-box-shadow: 0 1px 0 #333;
	-moz-box-shadow: 0 1px 0 #333;
	box-shadow: 0 1px 0 #333;
	color: #eee;
	text-align: center;
	text-shadow: 1px 1px 0 #333;
	font-family: 'Play';
	font-weight: bold;
	   -moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-background-clip: padding; -webkit-background-clip: padding-box;
}
.installer .content {
	position: relative;
	padding: 10px;
	padding-left: 400px;
	height: 500px;
	        border-radius: 8px;
	background: url('../resourses/toaster.png') #b3c7e1 no-repeat center left; background-clip: padding-box;
	   -moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-background-clip: padding; -webkit-background-clip: padding-box;
}
.installer .content strong {
	font-weight: bold;
}
.installer h1 {
	padding: 10px;
	text-transform: uppercase;
	font-size: 200%;
}
.installer .content .form-holder {
/* position: relative; */
}
.installer .content form fieldset > div {
	margin-bottom: 5px;
	line-height: 28px;
}

.installer .content form fieldset legend {
	padding: 5px;
	width: 100%;
	border-radius: 8px;
	background-color: #777; background-clip: padding-box;
	-webkit-box-shadow: 0 1px 0 #333;
	   -moz-box-shadow: 0 1px 0 #333;
	        box-shadow: 0 1px 0 #333;
	color: #eee;
	text-align: center;
	text-shadow: 1px 1px 0 #333;
	font-family: 'Play';
	font-weight: bold;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-moz-background-clip: padding; -webkit-background-clip: padding-box;
}
.installer .content .state-success,
.installer .content .state-error {
	margin: 4px 0;
	padding: 4px 6px;
	border: 1px solid black;
	border-radius: 4px;
	background-color: #ddd; background-clip: padding-box;
	text-align: justify;
	font-weight: bold;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-background-clip: padding; -webkit-background-clip: padding-box;
}
.installer .content .form-holder .state-success,
.installer .content .form-holder .state-error {
	text-align: center;
}
.installer .content .state-success {
	border-color: green;
	color: green;
}
.installer .content .state-error {
	border-color: red;
	color: red;
}

.installer input {
	padding: 4px 8px;
	border-radius: 8px;
}
.installer input.error {
	border-color: red;
}

.installer .content form label::after {
	content: ':';
}
.installer .content form label.required::after {
	content: ': *';
}
.installer .content form div > input {
	float: right;
}
.installer .content form input[type=submit] {
	position: absolute;
	right: 0;
	bottom: 50px;
	margin: 10px;
}
.tooltip {
	display:none;
	padding:10px 15px;
	min-width:100px;
	border:1px solid #777;
	background-color:#ff9;
	-webkit-box-shadow:0 0 10px #000;

	-moz-box-shadow:0 0 10px #000;
	box-shadow:0 0 10px #000;
	color:#333;
	text-align:left;
	font-size:12px;
}

#loading {
	position: absolute;
	top: 0;
	z-index: 9999;
	display: none;
	margin-left: -10px;
	width: 520px;
	height: 100%;
/* border-radius: 20px; */
	background: url('../resourses/fancy-loading.gif') #fff no-repeat center center;
	opacity: 0.75;
}