// Basic Styles
//==================================================

// Overlays
.ui-widget-overlay{
    position   : fixed;
    left       : 0;
    right      : 0;
    top        : 0;
    bottom     : 0;
    z-index    : 1000;
    background : #000;
    .opacity(0.5);

    &~.ui-widget-overlay{
        display : none;
    }

    &+[style*="height: 560px; width: 960px;"]{
        &~.ui-dialog{
            z-index : 1002;
        }

        &~.ui-widget-overlay{
            display : block;
            margin  : auto;
            height  : 560px;
            width   : 960px;
            z-index : 1001;
        }
    }

    &+[style*="height: 560px; width: 480px;"]{
        &~.ui-dialog{
            z-index : 1003;
        }

        &~.ui-widget-overlay{
            display : block;
            margin  : auto;
            height  : 560px;
            width   : 480px;
            z-index : 1002;
        }
    }
}

body{
    //background  : @body-bg;
    font-family : @font-famaly-text;
    line-height : 1.4;
    color       : @text-color;
}

.seotoaster{
    //background : @body-bg;
    color     : @text-color;
    font-size : @font-size-base;
    max-width : 960px;

    &.go-form{
        margin-top : 15%;
        padding    : 2px;
        width      : 400px;
        .box-shadow(0 5px 15px #777)
    }
}

.header{
    background  : @header-bg;
    color       : @header-color;
    overflow    : hidden;
    line-height : @header-height;
    height      : @header-height;
    padding     : 0 15px;
    font-size   : @font-size-large;
    position    : relative;

    &>*{
        font-size : @font-size-base;
    }

    .ui-tabs &.ui-tabs-nav{
        padding-right : 8%;
    }

    a{
        text-decoration : none;
    }
}

.header-inner{
    background     : @header-inner-bg;
    color          : @header-inner-color;
    overflow       : hidden;
    padding-top    : @padding-base-vertical;
    padding-bottom : @padding-base-vertical;

    a{
        color : inherit;
    }
}

.pluginspace{
    float        : right;
    margin-right : @grid-margin-width;
}

.closebutton{
    position    : absolute;
    top         : 0;
    right       : 2%;
    z-index     : 100;
    line-height : 40px;

    .header>&{
        float       : right;
        margin-left : 0;
        position    : static;

        .show-left &{
            float : left;
        }
    }

    a{
        vertical-align : middle;
        color          : @gray-dark;
        padding        : 0;
    }

    .help{
        .icon-size(14px);
        margin-right : 5px;

        &:hover{
            color : @brand-info;
        }
    }

    .close{
        .icon-size(13px);
    }

    .hide{
        .icon-size(15px);
    }

    .close, .hide{
        &:hover{
            color : @brand-error;
        }
    }
}
.content, .content-footer,
.content-medium, .content-medium-footer,
.content-small, .content-small-footer{
    position      : static;
    background    : @body-bg;
    margin-top    : 0 !important;
    margin-bottom : 0 !important;
    padding-top   : 10px;
    overflow      : auto;
    .box-sizing;

    &.wrap{
        overflow : hidden;
    }

    .ui-tabs &.ui-tabs-panel{
        padding : 10px 0 0;
    }

    .ui-tabs &.ui-tabs-panel:not([class*="pl"]):not([class*="pr"]){
        padding : 10px @grid-margin-width / 2 0;
    }
}

.content, .content-medium, .content-small{
    padding-bottom : 10px;
}
.content{
    height : @tpopup-base-height - @header-height;
}
.content-footer{
    height : @tpopup-base-height - @header-height - @footer-height;
}
.content-medium{
    height : @tpopup-medium-height - @header-height;
}
.content-medium-footer{
    height : @tpopup-medium-height - @header-height - @footer-height;
}
.content-small{
    height : @tpopup-small-height - @header-height;
}
.content-small-footer{
    height : @tpopup-small-height - @header-height - @footer-height;
}

.footer{
    .box-sizing;
    clear       : both;
    padding     : 10px 0 15px;
    height      : @footer-height;
    line-height : @footer-height - 25px;

    [class*="content"].grid_12+&:not([class*="grid_"]){
        padding-left  : @grid-margin-width / 2;
        padding-right : @grid-margin-width / 2;
    }

    [type="submit"], [type="button"]{
        margin-top : 0 !important;
    }
}

// -- Page preview
.page-preview{
    .box-shadow(0 1px 1px #BBB);
    .box-sizing();
    border           : 1px solid rgba(0, 0, 0, 0);
    padding          : 0;
    background       : #FFF;
    height           : 130px;
    overflow         : hidden;
    position         : relative;
    cursor           : pointer;
    border-top-color : #EEE;

    &.error{
        border-color : @brand-error;
    }

    img{
        height   : 100%;
        width    : 100%;
        position : relative;
        z-index  : 0;
    }

    img[src*="noimage.png"]{
        &+span{
            background  : @body-bg;
            display     : block;
            position    : absolute;
            top         : 0;
            left        : 0;
            bottom      : 0;
            right       : 0;
            padding     : 0 20px;
            text-align  : center;
            color       : lighten(@gray, 20%);
            line-height : normal;
            font-size   : 16px;

            &:before{
                font-size : 54px;
                color     : @gray-light;
                display   : block;
                margin    : 10px;
            }
        }
    }

    #page-teaser-uploader{
        position : absolute;
        top      : 0;
        left     : 0;
        right    : 0;
        bottom   : 0;

        button{
            height     : 100%;
            padding    : 0;
            width      : 100%;
            background : transparent;
            color      : transparent;

            &:active{
                .box-shadow(none);
            }
        }
    }

    #page-teaser-uploader-filelist{
    }

    &:hover{
        img[src*="noimage.png"]{
            &+span{
                color : lighten(@gray, 10%);

                &:before{
                    color : darken(@gray-light, 5%);
                }
            }
        }
    }
}