// Table of Content
//==================================================
//	Custom style
//	Search form
//==================================================

//	Custom style
//==================================================
form, .form{
    .clearfix;

    p:not([class*='mb']){
        margin-bottom : 0
    }

    & > p, & > div, fieldset > p, fieldset > div{
        .box-sizing();

        &:not([class*="mt"]):not(:first-child){
            margin-top : 0.65em;
        }
        &:not([class*="mb"]){
            margin-bottom : 0;
        }

        &:after{
            content : '';
            display : block;
            clear   : both;
        }
    }

    &.condensed{
        & > p, & > div, fieldset > p, fieldset > div{
            &:not([class*="mt"]){
                margin-top : 0.5em;
            }

            &:first-child:not([class*="mt"]){
                margin-top : 0;
            }
        }
    }

    fieldset{
        border  : none;
        margin  : 0;
        padding : 0;

        legend{
            margin : 0;
        }

        // -- Buttons
        &+[type="submit"], &+[type="button"]{
            margin-top : 0;
        }
    }

    label{
        color   : @label-color;
        display : block;

        &:not([class*="mb"]){
            margin-bottom : 0.15em;
        }
        &:first-child{
            //font-weight : bold;
        }
    }

    // -- Buttons
    [type="submit"]{
        //height : auto;
        float : right;

        &:not([class*="mt"]){
            margin-top : 10px;
        }

        &:hover{
        }
    }

    &.form-inline{
        & > p, & > div, fieldset > p, fieldset > div{
            margin-top : 0;
        }

        // -- Buttons
        & > [type="submit"]:not([class*="mt"]), & > [type="button"]:not([class*="mt"]){
            margin-top : 21px;
        }
    }

    &.form-grid{
        label:first-child{
            float        : left;
            margin-right : @grid-margin-width / 2;
            width        : percentage((6 / @grid-columns)) - @grid-margin-width / 2;
        }
        select, textarea, input{
            float       : left;
            margin-left : @grid-margin-width / 2;
            width       : percentage((6 / @grid-columns)) - @grid-margin-width / 2;
        }
    }
}

select, textarea, input{
    padding          : @padding-base-vertical;
    background-color : @input-bg;
    color            : @input-color;
    vertical-align   : middle;
    border-style     : solid;
    border-width     : @input-border-width;
    border-color     : @input-border-color;
    .border-radius(@input-border-radius);
    .transition(all, 0.3s);

    &:focus:not([type="submit"]):not([type="button"]){
        border-color : @input-border-color-focus;
        .box-shadow(0 0 3px @input-border-color-focus, @input-shadow-focus);
    }

    &.success{
        border-color : @brand-success;
        color        : @brand-success;
        &:focus{
            .box-shadow(0 0 3px @brand-success, @input-shadow-focus);
        }
    }

    &.warning{
        border-color : @brand-warning;
        color        : @brand-warning;
        &:focus{
            .box-shadow(0 0 3px @brand-warning, @input-shadow-focus);
        }
    }

    &.error, &:required{
        border-color : @brand-error;
        color        : @brand-error;
        &:focus{
            .box-shadow(0 0 3px @brand-error, @input-shadow-focus);
        }
    }

    &.info{
        border-color : @brand-info;
        color        : @brand-info;
        &:focus{
            .box-shadow(0 0 2px @brand-info, @input-shadow-focus);
        }
    }

    &[disabled], &.disabled, &[disabled]:focus, &.disabled:focus, &.noedit, &.noedit:focus{
        background   : @input-bg-disabled !important;
        border-color : darken(@input-bg-disabled, 10%) !important;
        color        : darken(@input-bg-disabled, 30%) !important;
        .box-shadow(none) !important;
    }
}

input, select{
    height : @btn-height-base;

    &.small{
        font-size : @font-size-small;
        height    : @btn-height-small;
        padding   : @padding-small-vertical;
    }

    &.large{
        font-size : @font-size-large;
        height    : @btn-height-large;
        padding   : @padding-large-vertical;
    }
}

select{
    padding     : @padding-base-vertical / 2 @padding-base-vertical;
    line-height : @btn-height-base - @padding-base-vertical;

    &.small{
        padding     : @padding-small-vertical / 2 @padding-small-vertical;
        line-height : @btn-height-small - @padding-small-vertical - @input-border-width * 2;
    }

    &.large{
        padding     : @padding-large-vertical / 2 @padding-large-vertical;
        line-height : @btn-height-large - @padding-large-vertical + @input-border-width * 4;
    }

    option{
        color : @text-color;
    }
}

textarea{
}

.labeled{
    position : relative;

    i{
        position : absolute;
        margin   : auto;
        left     : 5px;
        top      : 0;
        bottom   : 0;
        z-index  : 2;
        color    : @input-color-placeholder;
        .icon-size(1em);

        &+select, &+textarea, &+input{
            padding-left : @padding-base-vertical * 4;
        }
    }
    label, .label{
        margin-top    : 0;
        margin-bottom : 0;
        height        : @btn-height-base;
        background    : @input-border-color;
        padding       : @padding-base-vertical 0;
        text-align    : center;
        color         : #fff;
        .transition(all, 0.3s);
    }

    input:focus{
        .box-shadow(none) !important;

        &+label, &+.label{
            background : @input-border-color-focus;
        }
    }
}

// -- Checkbox & Radio field style
.checkbox_radio{
    .inline-block();
    line-height : 0;
}
input[type="checkbox"]:not(.hidden), input[type="radio"]:not(.hidden){
    -webkit-appearance : none;
    -moz-appearance    : none;
    appearance         : none;
    display            : none;
    line-height        : 0;
    width              : 0;
    height             : 0;

    .ie8 &{
        display : inline;
    }

    &:not(.icon)+span{
        .inline-block;
        .icon-size(@font-size-base);
        line-height      : 0;
        background-color : @input-bg;
        border-style     : solid;
        border-width     : @input-border-width;
        border-color     : @input-border-color;
        cursor           : pointer;

        &+span{
            vertical-align : middle;
        }

        &:after{
            content : '';
            .inline-block;
        }
    }

    &:disabled{
        &+span{
            background   : @input-bg-disabled;
            border-color : darken(@input-bg-disabled, 10%);
            color        : darken(@input-bg-disabled, 30%) !important;
        }
    }
}
input[type="radio"]:not(.hidden){
    &+span{
        border-color : darken(@input-border-color, 7%);
        .border-radius(@font-size-base * 2);

        &:after{
            width  : 10px;
            height : 10px;
            margin : 2px;
            .border-radius(@font-size-base * 2);
        }
    }

    &:checked{
        &+span{
            border-color : @primary-bg;

            &:after{
                background : @primary-bg;
            }
        }
    }
}
input[type="checkbox"]:not(.icon):not(.hidden){
    &+span{
        color : transparent;

        &:before{
            top       : -4px;
            left      : 1px;
            font-size : @font-size-base * 1.25;
        }
    }

    &:checked{
        &+span{
            color : @primary-bg;
        }
    }

    &.switcher{
        &+span{
            overflow    : hidden;
            font-size   : @font-size-base;
            position    : relative;
            width       : 3.75em;
            height      : 1.25em;
            line-height : 1.25em;
            //border-color : @brand-error;

            &:before, &:after{
                .inline-block();
                position    : static;
                font-family : @font-family-text;
                font-size   : @font-size-mini;
                line-height : 1.75em;
                font-weight : bold;
            }

            &:before{
                float       : left;
                content     : "ON";
                margin-left : 0.45em;
                color       : @brand-success;
            }

            &:after{
                float        : right;
                content      : "OFF";
                margin-right : 0.25em;
                color        : @brand-error;
            }

            span{
                .transition(all, 0.3s);
                background : @brand-error;
                background : @input-border-color;
                position   : absolute;
                z-index    : 5;
                left       : 1px;
                top        : 1px;
                bottom     : 1px;
                width      : 1.8em;
            }
        }

        &:checked{
            &+span{
                //border-color : @brand-success;

                &:before{
                }

                &:after{
                }

                span{
                    //background : @brand-success;
                    left : 1.85em;
                }
            }
        }
    }
}

// Search form
//==================================================
#search-form{
    margin-top : 30px;

    p{
        float  : left;
        width  : 25%;
        margin : 0;

        &:first-child{
            width : 75%;
        }

    }

    input{

        &[type="text"]{
            .border-radius(@input-border-radius 0 0 @input-border-radius);
        }

        &[type="submit"]{
            width         : 100%;
            padding-left  : 0;
            padding-right : 0;
            margin        : 0;
            .border-radius(0 @input-border-radius @input-border-radius 0);
        }
    }
}

// Social button with checkbox
//==================================================
input.icon{
    & ~ [class*="icon-"]{
        color  : @gray-light;
        cursor : pointer;
        .icon-size(42px);

        &:hover{
            color : darken(@gray-light, 10%);
        }
    }

    & ~ input{
        border-color : transparent;

        &:empty ~ .icon-facebook{
        }
    }

    &:checked{
        & ~ input{
            border-color : @input-border-color;
        }
    }

    &.facebook{
        &:checked ~ [class*="icon-"], & ~ input.filled ~ [class*="icon-"]{
            color : #3b5a99;
        }

        &:checked ~ input:focus{
            border-color : #3b5a99;
            .box-shadow(0 0 3px #3b5a99);
        }
    }
    &.twitter{
        &:checked ~ [class*="icon-"], & ~ input.filled ~ [class*="icon-"]{
            color : #1aa8e0;
        }

        &:checked ~ input:focus{
            border-color : #1aa8e0;
            .box-shadow(0 0 3px #1aa8e0);
        }
    }
    &.linkedin{
        &:checked ~ [class*="icon-"], & ~ input.filled ~ [class*="icon-"]{
            color : #4875b5;
        }

        &:checked ~ input:focus{
            border-color : #4875b5;
            .box-shadow(0 0 3px #4875b5);
        }
    }
    &.rss{
        &:checked ~ [class*="icon-"], & ~ input.filled ~ [class*="icon-"]{
            color : #FE9900;
        }

        &:checked ~ input:focus{
            border-color : #FE9900;
            .box-shadow(0 0 3px #FE9900);
        }
    }
    &.gplus{
        &:checked ~ [class*="icon-"], & ~ input.filled ~ [class*="icon-"]{
            color : #ca3e2d;
        }

        &:checked ~ input:focus{
            border-color : #ca3e2d;
            .box-shadow(0 0 3px #ca3e2d);
        }
    }
    &.youtube{
        &:checked ~ [class*="icon-"], & ~ input.filled ~ [class*="icon-"]{
            color : #c7453f;
        }

        &:checked ~ input:focus{
            border-color : #c7453f;
            .box-shadow(0 0 3px #c7453f);
        }
    }
    &.pinterest{
        &:checked ~ [class*="icon-"], & ~ input.filled ~ [class*="icon-"]{
            color : #bd3137;
        }

        &:checked ~ input:focus{
            border-color : #bd3137;
            .box-shadow(0 0 3px #bd3137);
        }
    }
}