html body{
    .activate-color(@activate, @activate2) when (@activate = true) and (@activate2 = true){
        .gray-darker{ color : @gray-darker; }
        .gray-dark{ color : @gray-dark; }
        .gray{ color : @gray; }
        .gray-light{ color : @gray-light; }
        .gray-lighter{ color : @gray-lighter; }

        .gray-darker-bg{ background : @gray-darker; }
        .gray-dark-bg{ background : @gray-dark; }
        .gray-bg{ background : @gray; }
        .gray-light-bg{ background : @gray-light; }
        .gray-lighter-bg{ background : @gray-lighter; }

        .primary{
            color : @primary-bg;
            a&:hover, &.link:hover{
                color : darken(@primary-bg, 15%);
            }
        }
        .success{
            color : @brand-green;
            a&:hover, &.link:hover{
                color : darken(@brand-green, 15%);
            }
        }
        .warning{
            color : @brand-orange;
            a&:hover, &.link:hover{
                color : darken(@brand-orange, 15%);
            }
        }
        .error{
            color : @brand-red;
            a&:hover, &.link:hover{
                color : darken(@brand-red, 15%);
            }
        }
        .info{
            color : @brand-blue;
            a&:hover, &.link:hover{
                color : darken(@brand-blue, 15%);
            }
        }
    }
    .activate-color(@activate-alternate-style-color, @activate-alternate-style);

    .activate-font-size(@activate, @activate2) when (@activate = true) and (@activate2 = true){
        .larger{ font-size : @font-size-larger; }
        .large{ font-size : @font-size-large; }
        .small{ font-size : @font-size-small; }
        .mini{ font-size : @font-size-mini; }
    }
    .activate-font-size(@activate-alternate-style-size, @activate-alternate-style);
}