ul, ol{
    margin-bottom : 1.5em;
    margin-left   : 2.5em;

    ol, ul{
        margin    : 0.3em 0 1em 2.5em;
        font-size : 0.9em;
    }

    li{
        margin-bottom : 0.3em;

        li{ }
    }

    &.list-unstyled{
        list-style-type : none;

        &:not([class*="ml"]):not([class*="grid_"]){
            margin-left : 0.5em;
        }

        &:not([class*="mb"]){
            margin-bottom : 0;
        }
    }

    &.list-inline{
        list-style-type : none;

        &:not([class*="ml"]):not([class*="grid_"]){
            margin-left : 0;
        }

        &:not([class*="mb"]){
            margin-bottom : 0;
        }

        &>li{
            margin : 0 0.5em;
            .inline-block(top);
        }
    }

    &.list-bordered{
        list-style-type : none;

        &:not([class*="ml"]):not([class*="grid_"]){
            margin-left : 0;
        }

        &:not([class*="mb"]){
            margin-bottom : 0;
        }

        &>li{
            margin        : 0;
            padding       : @padding-base-vertical @padding-base-horizontal;
            border-bottom : 1px dashed @gray-light;
            position      : relative;

            &[class*='active']{
                &:before{
                    content      : '';
                    position     : absolute;
                    left         : 0;
                    top          : 0;
                    bottom       : 0;
                    margin       : auto;
                    height       : 0;
                    border-style : solid;
                    border-width : 5px 0 5px 5px;
                    border-color : transparent @gray;
                }

                a{
                    color : inherit;
                }
            }
        }
    }

    &.list-tags{
        list-style-type : none;

        &:not([class*="ml"]):not([class*="grid_"]){
            margin-left : 0;
        }

        &:not([class*="mb"]){
            margin-bottom : 0;
        }

        &>li{
            margin     : 2px 0 0;
            padding    : @padding-small-vertical @padding-mini-horizontal;
            background : @gray-light;
            cursor     : pointer;
            .text-overflow;
            .box-sizing();

            &>*{
                .inline-block;
            }

            &:hover, &.active, &.tag-current{
                background : darken(@gray-light, 10%);
            }

            &.disabled{
                cursor     : default;
                background : @gray-lighter;
                color      : darken(@gray-light, 10%);
            }

            &.active, &.tag-current{
            }

            [class*="icon-"].fl-right{
                margin-top : 0.15em;
            }

            [class*="remove"], [class*="close"]{
                font-size : 0.85em;
            }
        }

        &.list-inline>li{
            margin : 2px 2px 0;
        }

        &:not(.list-inline)>li:first-child{
            margin-top : 0;
        }
    }

    &.small{

        &>li{
            padding : @padding-mini-vertical @padding-mini-horizontal;
        }
    }

}

ul{
    list-style-type : disc;

    ul{
        list-style-type : circle;
    }
}

ol{
    list-style-type : decimal;

    ol{
        list-style-type : lower-latin;
    }
}

dl{
    dt{
        font-weight : bold;
    }

    dd{
        margin-bottom : 0.75em;

        &+dd{
            margin-top : -0.5em;
        }
    }

    &.dl-horizontal{
        dt{
            float : left;
            width : 35%;
            clear : left;
        }

        dd{
            margin-left : 35%;
        }
    }
}

.list-title{
    background : @header-inner-bg;
    color      : @header-inner-color;
    overflow   : hidden;
    padding    : @padding-base-vertical 0;
}
.items-list{

    &:not([class*="ml"]):not([class*="grid_"]){
        margin-left : 0;
    }

    &:not([class*="mb"]){
        margin-bottom : 0;
    }

    .list-row{
        background    : @gray-lighter;
        padding       : @padding-small-vertical 0;
        margin-top    : 2px;
        margin-bottom : 0;
        overflow      : hidden;
        list-style    : none;
        max-width     : 100%;

        .list-row-item{
            .text-overflow;
        }

        .list-row-count{
            text-align : center;
            font-size  : @font-size-small;
            background : @gray-light;
            padding    : (@padding-small-vertical + (@font-size-base - 12px) / 2) 0;
        }
    }

    ol& .list-row{
        padding : 0;

        &>*{
            padding : @padding-small-vertical @padding-small-horizontal;
        }
    }
}

.list-images{
    font-size       : 0;
    list-style-type : none;

    &:not([class*="ml"]):not([class*="grid_"]){
        margin-left : 0;
    }

    &:not([class*="mb"]){
        margin-bottom : 0;
    }

    &>*{
        .inline-block(top);
        .thumbnail-state(0);
        height      : 80px;
        line-height : 74px;

        &[class*="grid_"]{
            margin-top    : 1%;
            margin-bottom : 1%;
        }

        img{
            width      : auto;
            max-height : 100%;
        }
    }
}

// Paginator
//======================================================
.paginator, .dataTables_paginate{
    //text-align  : right;
    color       : @gray-light;
    font-size   : @font-size-small;
    cursor      : default;
    line-height : 1;

    *{
        .inline-block;
        border  : 1px solid @gray-light;
        padding : @padding-small-vertical @padding-small-horizontal;
        margin  : 0 0.1em;

        &.page{
            cursor       : pointer;
            border-color : @gray-light;

            &:hover{
                background : @gray-light;
                color      : @gray;
            }

            &.selected{
                background   : @primary-bg;
                color        : @primary-color;
                border-color : @primary-bg;
            }
        }
    }

    :first-child, :last-child{
        font-weight : bold;
    }
}

// Social Links
//==================================================
.social-links{
    a{
        .inline-block;
        .icon-size(18px);
        color      : #fff;
        padding    : @padding-base-vertical;
        background : @gray-light;

        &:hover{
            &.facebook{ background : #3b5a99; }
            &.twitter{ background : #1aa8e0; }
            &.gplus{ background : #ca3e2d; }
            &.rss{ background : #FE9900; }
            &.linkedin{ background : #4875b5; }
            &.youtube{ background : #c7453f; }
            &.pinterest{ background : #bd3137; }
        }
    }
}