@import "base/variables";

// Table of Content
//==================================================
//	Reset & Basics
//	Reset Form
//	Grid system
//  Reset for all navigation items, related-products
//==================================================

//  Fonts
//==================================================
@import "elements/fonts";

// Reset & Basics
//==================================================
*{
    margin         : 0;
    padding        : 0;
    outline        : none;
    border                      : none;
    background     : transparent;
    vertical-align              : baseline;
    -webkit-touch-callout       : none; //если надо, то запрещаем выделение текста
    -webkit-tap-highlight-color : rgba(0, 0, 0, 0); //убираем фон подсветки ссылок и кнопок
    -webkit-text-size-adjust    : none; //фиксим баг в IOS cо шкалированием в landscape
}
.reset-style{
    .reset-style;
}
::-moz-selection{
    background : @text-select-bg;
    color      : @text-select-color;
}
::selection{
    background : @text-select-bg;
    color      : @text-select-color;
}
div, p{
    &:empty{
        margin : 0;
    }
}
body{
    font-family              : sans-serif;
    -webkit-text-size-adjust : 100%;
    -ms-text-size-adjust     : 100%;
    //-webkit-font-smoothing      : antialiased; // Fix for webkit rendering
    -webkit-font-smoothing      : subpixel-antialiased !important;
    -webkit-backface-visibility : hidden;
    -moz-backface-visibility    : visible;
    -ms-backface-visibility     : hidden;
    .user-select();
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
    display : block;
}
audio, canvas, video{
    .inline-block;
}
audio:not([controls]){
    display : none;
    height  : 0;
}
blockquote, q{
    quotes : none;
}
blockquote:before, blockquote:after,
q:before, q:after{
    content : '';
    content : none;
}
em{
    font-style : italic;
}
strong{
    font-weight : bold;
}
small{
    font-size : 0.8em;
}
[hidden], body [class*="hidden"]{
    display : none;
}
table{
    border-spacing  : 0;
    border-collapse : collapse;
    word-break      : break-all
}
a:focus, [type="checkbox"]:focus, [type="radio"]:focus, *:focus{
    outline : none;
}
a, [type="submit"], [type="button"], button, [type="checkbox"], [type="radio"]{ cursor : pointer; }
img, [type="submit"], [type="button"], button, [type="checkbox"], [type="radio"]{ vertical-align : middle; }
img{
    max-width : 100%;
    height    : auto;
}
.fb-like-box{
    &>span, iframe{
        position : relative !important;
        width    : 100% !important;
        height   : auto !important;
    }
}
.generator-links, .tpopup{
    &, &:hover{
        img{
            width  : auto !important;
            border : none !important;
            .box-shadow(none);
        }
    }
}
.gmaps{
    max-width : 100%;
    img{ max-width : none; }
}

[contenteditable="true"]{
    .box-sizing;
    background : @input-bg;
    border     : @input-border-width solid @input-border-color;
    cursor     : text;
    font-size  : @font-size-small;
    padding    : @padding-mini-vertical @padding-mini-horizontal;
}

// Reset Form
//==================================================
fieldset{
//    border  : 0;
//    margin  : 0;
//    padding : 0;

    legend{
        line-height : 1;
//        border      : 0;
//        padding     : 0;
        -webkit-margin-bottom-collapse : separate;
    }
}
input, select, textarea, button{
    max-width   : 100%;
    width       : 100%;
    font-size   : 100%;
    font-family : inherit;
    .box-sizing;
    .placeholder();
}
button, input{
    &::-moz-focus-inner{
        padding : 0;
        border  : 0;
    }
}

// Reset width of input images, buttons, radios, checkboxes
[type="file"],
[type="image"],
[type="submit"],
[type="reset"],
[type="button"],
[type="radio"],
[type="checkbox"]{
    width : auto; // Override of generic input selector
}
[type="file"]{
    border  : none;
    padding : 0;
}

textarea{
    vertical-align : top;
    line-height    : normal;
    .resize();
}

[type="search"]{
    -webkit-appearance : textfield;
    &::-webkit-search-cancel-button, &::-webkit-search-decoration{
        -webkit-appearance : none;
    }
}

[type="checkbox"], [type="radio"]{
    padding : 0;
    border  : none;
}

// Make multiple select elements height not fixed
select[multiple],
select[size]{
    height : auto;
}

// Fix optgroup Firefox bug per https://github.com/twitter/bootstrap/issues/7611
select optgroup{
    font-style  : inherit;
    font-size   : inherit;
    font-family : inherit;
}

[type="button"], [type="submit"], button{
    width  : auto;
    border : none;
}
button, [type="button"], [type="reset"], [type="submit"]{
    cursor             : pointer;
    -webkit-appearance : button;

    &:focus{
        .box-shadow(none, @input-shadow-focus);
    }
}
button[disabled], html input[disabled]{
    cursor : default;
}
.btn, button, [type="submit"], [type="button"]{
    a{
        color : inherit;
    }
}

// Reset for all navigation items, related-products
//==================================================
//fix for Safari 3
.activate(@activate, @activate2) when (@activate = true) and (@activate2 = webkit) {
    ::i-block-chrome, .main_menu,
    ::i-block-chrome, .listpages,
    ::i-block-chrome, .listcategories,
    ::i-block-chrome, .featureditem,
    ::i-block-chrome, .search-results,
    ::i-block-chrome, .relatedpages,
    ::i-block-chrome, .listxrss,
    ::i-block-chrome, .related-products{
        display : table;
    }
}
    .activate(@webkit, webkit);
//fix for Opera
.activate(@activate, @activate2) when (@activate = true) and (@activate2 = o) {
    noindex:-o-prefocus, .main_menu,
    noindex:-o-prefocus, .listpages,
    noindex:-o-prefocus, .listcategories,
    noindex:-o-prefocus, .featureditem,
    noindex:-o-prefocus, .search-results,
    noindex:-o-prefocus, .relatedpages,
    noindex:-o-prefocus, .listxrss,
    noindex:-o-prefocus, .related-products{
        word-spacing : -0.3em;
        li{
            word-spacing : normal;
        }
    }
}
    .activate(@opera, o);

.static_menu, .static_menu li, .main_menu, .main_menu li, .main_menu ul, .main_menu ul li, .sitemap, .sitemap li,
.listpages, .listpages li, .listcategories, .listcategories li, .featureditem, .featureditem li, .featureapage, .relatedpages, .relatedpages li,
.listxrss, .listxrss li, .search-results, .search-results li, .img_gallery, .img_gallery li, .related-products, .related-products li{
    margin          : 0;
    padding         : 0;
    list-style-type : none;
    .box-sizing;
    .clearfix;
}
.static_menu a, .main_menu a, .sitemap a{
    color : inherit;
}
.listpages li, .listcategories li, .featureditem li, .featureapage, .search-results li, .relatedpages li, .listxrss li, .related-products li{
    position : relative;

    &>a{
        display : block;

        &.page-teaser-image{
            position : relative;

            img{
                width : 100%;
            }
        }

        &.page-title{
            display     : block;
            margin      : 0 0 0.25em;
            font-size   : @font-size-large;
            font-family : @font-family-headings;
            line-height : 1;
        }
    }
}
.listpages li span, .listcategories li span, .featureditem li span, .featureapage p, .search-results li span, .relatedpages li span, .listxrss li p, .related-products .product-description{
    display  : block;
    overflow : hidden;
    margin   : 0;

    &:empty{
        display : none;
        margin  : 0;
    }
}

// Overlays
.ui-widget-overlay{
    position   : fixed;
    top        : 0;
    right      : 0;
    bottom     : 0;
    left       : 0;
    z-index    : 1000;
    background : #000;
    .opacity(0.5);

    &~.ui-widget-overlay{
        display : none;
    }
}
.ui-dialog{
    position : fixed;
    z-index  : 1001;
}

.ui-dialog[aria-describedby="toasterPopup"]{
    position    : fixed;
    z-index     : 1002;
    border      : none;
    top         : 0 !important;
    bottom      : 0 !important;
    left        : 0 !important;
    right       : 0 !important;
    margin      : auto !important;
    padding     : 0;
    line-height : 0;
    background  : @dialog-bg;
    font-size   : @font-size-base;
    .box-shadow(3px 3px 10px #000);

    iframe{
        background-image    : url("../images/spinner.gif");
        background-position : center center;
        background-repeat   : no-repeat;
    }

    &.screen-expand{
        height    : 100% !important;
        min-width : 960px;
    }
}

.ui-overlay+.ui-widget-content{
    background : @body-bg;
    z-index    : 1001;
    .box-shadow(3px 3px 10px #000);
}

// Grid System
//==================================================
@import "elements/grid";

//  Toaster ICON
//==================================================
.activate-toaster-icon(@activate) when ( @activate = true){
@import "elements/toaster-icons";
}
    .activate-toaster-icon(@activate-toaster-icons);

// System classes
//==================================================
.activate-system-classes(@activate) when ( @activate = true){
    @import "elements/system-classes";
}
.activate-system-classes(@activate-system-classes);
