@import "base/variables";

@module-carousel               : false;
@module-alert                  : true;
@module-accordion              : true;
@module-tabs                   : true;
@module-dialog                 : true;
@module-datepicker             : true;
@module-autocomplete           : true;
@module-tooltips               : true;
    @module-tooltips-color-red    : true;
    @module-tooltips-color-blue   : true;
    @module-tooltips-color-green  : true;
    @module-tooltips-color-orange : true;
@module-range                  : true;
@module-progressbar            : true;
@module-chosen                 : false;
@module-pagination             : false;
@module-scrollbar              : false;

// Overlays
.ui-widget-overlay{
    position   : fixed;
    top        : 0;
    right      : 0;
    bottom     : 0;
    left       : 0;
    z-index    : 1000;
    background : #000;
    .opacity(0.5);

    &~.ui-widget-overlay{
        display : none;
    }
}

[aria-describedby="toasterPopup"]{
    position    : fixed !important;
    right       : 0 !important;
    left        : 0 !important;
    line-height : 0 !important;
    margin      : auto !important;
    padding     : auto !important;
    border      : none !important;
    max-width   : none !important;
}

//  Fonts
//==================================================
@import "elements/fonts";

//  Toaster ICON
//==================================================
.activate-toaster-icon(@activate) when ( @activate = true){
//    @import "elements/toaster-icons";
}
.activate-toaster-icon(@toaster-icons);

.btn, button, [type="submit"]{
    background-image: none;
    .button();
}

// Modules Styles
//==================================================
.activate-modules(@activate) when (@activate = true){
    @import "packages/modules";
}
.activate-modules(@modules);