<?xml version="1.0"?>
<zend-config xmlns:zf="http://framework.zend.com/xml/zend-config-xml/1.0/">
  <routes>
    <default>
      <type>Zend_Controller_Router_Route_Regex</type>
      <route>(.*)</route>
      <defaults>
        <controller>index</controller>
        <action>index</action>
      </defaults>
	  <map>
		  <garbage>1</garbage>
	  </map>
    </default>
  </routes>
</zend-config>
