// Alert and Message styles
// -------------------------
.message{
    position : relative;
    padding  : @padding-base-vertical @padding-base-horizontal;
    border   : 1px solid;
    .border-radius(@state-border-radius);
    .alert-color(@state-green-color, @state-green-bg, @state-green-border);

    a{
        text-decoration : underline;

        &:hover{
            text-decoration : none;
        }
    }

    // Alternate styles
    // -------------------------
    &.success when (@color-success = true) and (@colors = true){
//        .alert-color(@brand-green, #fff, @brand-green, @color-green);
        .alert-color(@state-green-color, @state-green-bg, @state-green-border);
    }
    &.warning when (@color-warning = true) and (@colors = true){
//        .alert-color(@brand-orange, #fff, @brand-orange, @color-orange);
        .alert-color(@state-orange-color, @state-orange-bg, @state-orange-border);
    }
    &.error when (@color-error = true) and (@colors = true){
//        .alert-color(@brand-red, #fff, @brand-red, @color-red);
        .alert-color(@state-red-color, @state-red-bg, @state-red-border);
    }
    &.info when (@color-info = true) and (@colors = true){
//        .alert-color(@brand-blue, #fff, @brand-blue, @color-blue);
        .alert-color(@state-blue-color, @state-blue-bg, @state-blue-border);
    }
    &.gray{
        .alert-color(@gray, @gray-lighter, @gray-light);
    }

    // Block alerts
    // -------------------------
    .block{
        padding-top    : 15px;
        padding-bottom : 15px;
    }
}

.ui-state-error{
    .alert-color(@state-red-color, @state-red-bg, @state-red-border);
}
.ui-state-highlight{
    .alert-color(@state-blue-color, @state-blue-bg, @state-blue-border);
}

.smoke-base{

    .smokebg{
        position : fixed;
        left     : 0;
        right    : 0;
        top      : 0;
        bottom   : 0;
        z-index  : 1000;
        .rgba(#fff, 0.5);
    }

    .dialog{
        overflow    : auto;
        position   : fixed;
        z-index    : 1001;
        width       : 100%;
        max-width   : @grid-container-width * 0.75;
        max-height  : 50%;
        top        : 25%;
        left       : 0;
        right      : 0;
        margin     : 0 auto;
        text-align : center;
        background : #fff;
        border     : 1px solid #ddd;
        .border-radius(@state-border-radius);
        .box-shadow(0 0 15px #ccc);

        // Alternate styles
        // -------------------------
        &.success when (@color-success = true) and (@colors = true){
            color        : @brand-success;
            border-color : @brand-success;
        }
        &.warning when (@color-warning = true) and (@colors = true){
            color        : @brand-warning;
            border-color : @brand-warning;
        }
        &.error when (@color-error = true) and (@colors = true){
            color        : @brand-error;
            border-color : @brand-error;
        }
        &.info when (@color-info = true) and (@colors = true){
            color        : @brand-info;
            border-color : @brand-info;
        }
    }

    .dialog-inner{
        font-size : @font-size-large;
        padding   : @padding-larger-vertical @padding-larger-horizontal;

        *{
            color : inherit;
        }

        p{ margin : 0 0 0.5em; }
    }

    .dialog-prompt{
        margin-top : 0.75em;
        .clearfix;

        input, select, textarea{
            float : none;
        }
    }

    .form-errors{
        max-height : 210px;
        overflow   : auto;
    }

    .dialog-buttons{
        margin-top : 1em;
        font-size  : @font-size-base;

        button{
            float  : none;
            margin : 0 @padding-small-horizontal;
            .button();
            .border-radius(@button-border-radius);
            .button(@button-green-color, @button-green-bg, @button-green-border);

            &.cancel{
                .button-color(@button-red-color, @button-red-bg, @button-red-border);
            }
        }
    }
}

.message{
    display     : block;
    border-left : 3px solid;
}
