.smoke-base{
    .smokebg{
        background      : rgba(255, 255, 255, 0.5);
        -pie-background : rgba(255, 255, 255, 0.5);
        position        : absolute;
        left            : 0;
        right           : 0;
        top             : 0;
        bottom          : 0;
        z-index         : 100;
    }

    .dialog{
        position      : fixed;
        top           : 30%;
        left          : 0;
        right         : 0;
        z-index       : 101;
        margin        : 0 auto;
        width         : 800px;
        max-width     : 75%;
        max-height    : 40%;
        overflow      : auto;
        font-size     : @font-size-larger;
        text-align    : center;
        border        : 2px solid;
        border-radius : @state-border-radius;
        .box-shadow(0 0 100px desaturate(@state-success-border, 10%));

        .close{
            .icon-size(16px);
            cursor   : pointer;
            position : absolute;
            top      : 0;
            right    : 0;
            color    : inherit;

            &:hover{
                color : @brand-error;
            }
        }

        // Alternate styles
        // -------------------------
        &.alert-success, &.success{
            .box-shadow(0 0 100px desaturate(@state-success-border, 10%));
        }
        &.alert-warning, &.warning{
            .box-shadow(0 0 100px desaturate(@state-warning-border, 10%));
        }
        &.alert-error, &.error{
            .box-shadow(0 0 100px desaturate(@state-error-border, 10%));
        }
        &.alert-info, &.info{
            .box-shadow(0 0 100px desaturate(@state-info-border, 10%));
        }
    }
}

.message{
    display     : block;
    border-left : 3px solid;
}

//.alert, [class*="alert-"],
.message,
.smoke-base .dialog{
    padding : @padding-base-vertical @padding-base-horizontal;
    .alert-state(@state-success-text, @state-success-bg, @state-success-border);

    p, ul, ol{
        margin-bottom : 0;

        &+p, &+ul, &+ol{
            margin-top : 5px;
        }
    }

    li{
        // list-style : none;
        margin : 0;

        &+li:not([class*="mt"]){
            margin-top : 0.5em;
        }
    }
    a{
        text-decoration : underline;

        &:hover{
            text-decoration : none;
        }
    }

    .dialog-inner{

        .dialog-buttons{
            margin-top : 10px;
            font-size  : @font-size-base;

            button{
                float  : none;
                margin : 0 @padding-small-horizontal;
                .btn-states(@btn-success-color, @btn-success-bg, @btn-success-border);

                &.cancel{
                    .btn-states(@btn-error-color, @btn-error-bg, @btn-error-border);
                }
            }
        }
    }

    // Alternate styles
    // -------------------------
    &.alert-success, &.success{
        .alert-state(@state-success-text, @state-success-bg, @state-success-border);
    }
    &.alert-warning, &.warning{
        .alert-state(@state-warning-text, @state-warning-bg, @state-warning-border);
    }
    &.alert-error, &.error{
        .alert-state(@state-error-text, @state-error-bg, @state-error-border);
    }
    &.alert-info, &.info{
        .alert-state(@state-info-text, @state-info-bg, @state-info-border);
    }

    // Block alerts
    // -------------------------
    &.alert-block{
        padding-top    : 15px;
        padding-bottom : 15px;
    }
}

.ui-state-error{
    .alert-state(@state-error-text, @state-error-bg, @state-error-border);
}
.ui-state-highlight{
    .alert-state(@state-info-text, @state-info-bg, @state-info-border);
}
