.ui-autocomplete{
    position     : absolute;
    z-index      : 999;
    overflow     : auto;
    max-height   : 200px;
    border-width : @input-border-width;
    border-style : solid;
    border-color : @input-border-color;
    background   : @autocomplete-bg;
    color        : @autocomplete-color;
    list-style   : none;

    .ui-menu-item{
        margin  : 0;
        padding : @padding-mini-vertical;
        cursor  : pointer;

        a{
            color : inherit;
        }

        &:hover{
            color      : @autocomplete-item-color-hover;
            background : @autocomplete-item-bg-hover;
        }
    }
}